[2020-05-28 19:00] pablogiralt opened #95 "Error while executing "prismic sm --setup""
I'm getting the following error when adding Slice Machine to a nuxt project:

[code]

### Steps to reproduce
- Install Prismic Cli using "sudo npm install -g prismic-cli"
- create Nuxt project using: "npx create-nuxt-app my-slicemachine-project" without adding any frameworks or extras and in Universal Mode (SSR)
- Access project folder and execute "prismic sm --setup"
- Select "yes, login to my ex

[2020-06-01 09:06] hypervillain commented on #95
Hey @pablogiralt, I think this is more related to the CLI. I'll ask around and get back to you!

[2020-06-01 09:19] pablogiralt commented on #95
thanks @hypervillain

[2020-06-09 10:53] hypervillain opened #7 "RFC: Port SliceZone to Next.js"
Part of the port of SliceMachine to Next consists in porting the SliceZone.

### What's a SliceZone

A component that matches front-end components with Prismic data components (that we call slices). You can see it as an hybrid between a "components registry" and a router:

- at build time, it scans and lists available components to create a custom resolver function
- when a page hits, it fetches t

[2020-06-09 12:15] sadache commented on #7
@hypervillain which paths you will be scanning in the folders of a Next.js project for components? What is the priority hierarchy (local then dependencies?) ?

What is the folder structure of a given component? (the model, the component file, etc)

[2020-06-09 12:29] sadache commented on #7
@hypervillain also can you please add (for context) an example of the syntax for declaring a SliceZone in a Next page? 🙏

[2020-06-09 12:31] hypervillain commented on #7
I'll add a section regarding scan & match. I've described how the filesystem is scanned here in the meantime: https://github.com/prismicio/slice-machine/tree/master/packages/vue-slicezone#auto-match-components

[2020-06-09 12:36] arnaudlewis opened #8 "RFC: Add support of the `pull` command in the Prismic CLI"
## Summary

We want to add a way to synchronize your components between Prismic and your project.
It would be a CLI command that will scan all your slices on Prismic side and all your slicemachine components on the other side to help you create the missing ones and update the others if needed.

## Motivation

The goal of Slicemachine is to have a more code-centric approach and avoid all these step

[2020-06-09 12:42] sadache commented on #7
React and Next ignorant here, but can't we do something as simple as we have in Nuxt? something like:
`<SliceZone type={type} uid={uid} />`
And the component auto fetches the content from Prismic?

[2020-06-09 12:43] hypervillain commented on #8
What happens in case a model has changed in one of your dependencies?

[2020-06-09 12:46] arnaudlewis commented on #8
@hypervillain In this case, since it's a top to bottom (Prismic -> project) it would conflict and it would ask you if you want to override the model from Prismic to your project.
That would mean two things:
- We need at some point to have a way to insert slices from your code to prismic during the setup or maybe even a sync command that works the other way around maybe
- And if it conflicts with a

[2020-06-09 13:03] hypervillain commented on #8
I think it highly depends on why a conflict arises in the first place. With essential-slices, I found multiple places where I was tempted to update models in a non-blocking way for the user. A field being added or a placeholder being re-written should not necessarily be considered as conflict. But I understand it would be tough to track down.

[2020-06-09 13:04] hypervillain commented on #8
The more I look at the example, the more I think knowing what (which fields) changes on top of where would be really helpful.

[2020-06-09 13:06] hypervillain commented on #8
Last note: when you mention inserting slices during the setup, the only blocker I see is that slice models don't describe in which custom types they have to be appended. This is ok when syncing from Prismic to your project but not the other way around.

[2020-06-09 15:18] arnaudlewis commented on #8
@hypervillain I didn't quite understand your last comment

[2020-06-09 15:28] lihbr commented on #8
Took me a bit of time to understand the sync described here but if I'm right current behavior of `prismic sm --sync` looks more like a pull than a true sync to me (which would have been applying last diffs on both sides) That's why I find it a bit misleading put that way, probably :thinking:

In my opinion, it'll be clearer to make it like `prismic sm --pull` or similar so we'll be able to work on

[2020-06-10 12:53] sadache commented on #7
It seems we can't for now, until suspense for pre-rendering is available in React

<img width="435" alt="Screen Shot 2020-06-10 at 14 51 30" src="https://user-images.githubusercontent.com/60507/84269809-0808ec00-ab2a-11ea-8509-2b26c4e0920d.png">

[2020-06-10 13:39] sadache commented on #8
@arnaudlewis I am thinking maybe pull command should be followed by a slice name. So basically you need to explicitly specify the slice models that you need to pull (to avoid conflict and keep the intention)

[2020-06-10 13:41] sadache commented on #8
I just noticed that you basically said the same thing :)

[2020-06-10 14:44] lihbr commented on #8
I think that having the interactive prompt where you can choose which changed-slice to override or not would be less overwhelming than having to pull each slice one by one when you, for example, checkout another branch or such. Nonetheless could be a nice addition at some point to provide more fine-grained control~

[2020-06-12 15:03] arnaudlewis commented on #8
First implementation: https://github.com/prismicio/prismic-cli/pull/48

[2020-06-15 13:24] arnaudlewis opened #10 "RFC: Port the `routes` resolver to Next.js"
Part of the port of SliceMachine to Next consists in porting the `routes` resolver.

## What is `routes`
To use prismic with your application, you need at some point to be able to resolve the URL of a prismic document.
To do so, in Prismic we have the concept of `linkResolver` but with SliceMachine, we introduced a new way that is called `routes`.
It's a declarative way of configuring your routes

[2020-06-15 13:42] hypervillain commented on #10
That's really good. My only consideration is that Next Link props should not be passed inside components directly, as it would prevent library creators from creating cross framework components. In a same fashion they should not import a framework specific Link in their components.

Something more suitable would be for the SliceZone to pass something like `LinkComponent` and `resolveLinkProps` prop

[2020-06-15 13:45] arnaudlewis commented on #10
Do you think that we should have some kind of module for next that automatically convert back this specific model to the original one that we can send to prismic through the JS kit @hypervillain ?
I don't know how yet but just to prevent people having to edit two different models that represent the same thing.

[2020-06-15 13:51] hypervillain commented on #10
I tried to implement a converter like this some weeks ago, unfortunately I could not access the routes list programmatically. But if you implement the new model I guess that would work fine. Of course, an optimal solution would be for Next.js router to expose the routes parsed at build time.

[2020-06-15 13:52] hypervillain opened #12 "[CLI] support setup for Next.js"
CLI command `prismic sm --setup` should bootstrap a Next.js/SliceMachine project. What's expected:

* [x] an API manifest for Next.js (sm-api)
* [x] install default slices library
* [ ] install common dependencies (prismic-javascript, prismis-reactjs)
* [ ] install slices library specific dependencies (from `sm.config.json` file)
* [ ] create/update Next config file with `next-transpile-modules`mo

[2020-06-15 16:12] lihbr commented on #10
Not sure but aren't Next users already using an hrefResolver? We could just use it here instead and have the Next slice-zone provide itself the right link component to slice (similar to what we're doing with Vue prismic-link component at a framework level)?

[code]

[2020-06-15 16:26] hypervillain commented on #10
I guess some of them do, if they come from this starter: https://github.com/prismicio/nextjs-blog, I don't really know otherwise.

If we want to keep using resolvers, that would be perfectly fine to me. But as we removed the `linkResolver` in profit of `routes`, we probably want to ditch the `hrefResolver` too. A difference between routes (JSON) and hrefResolver (js) is also that we may be able to

[2020-06-16 10:39] arnaudlewis commented on #10
[code]
while the Next resolver would look like:

[code]

Proposed by @sadache

[2020-06-16 12:44] lihbr commented on #10
Just some thoughts about that link issue with React, but I feel like we're trying to solve this issue at a Slice Machine level when it should be solved at a SDK level :thinking:

Have we tried to implement a `PrismicLink` component in React just like we did with Vue?

I get it that APIs of Next.js and Gatsby are differents for links but since people will have to setup React SDK on their project an

[2020-06-18 14:30] julon commented on #8
Hi @arnaudlewis, its awesome that the pull feature is coming to the cli, its gonna make our use case way easier during slice development. Is the push feature to repository planned on the roadmap as well? Our full use-case would be to effectively pull the slice from a staging/dev repository(prismic) as a json during development, and through a CI pipeline to spread (hard replace) those to multiple r

[2020-06-18 14:35] arnaudlewis commented on #8
Hi @julon, it definitely is but we’re trying to make a way for slices creator to have an optimize way to build them.
Having some kind of isolated sandboxed environment for slices and a full integration with the CLI to keep the source of truth in the code as you said :)

[2020-06-18 14:35] arnaudlewis commented on #8
And BTW, it’s still experimental but you can already try the pull with the last alpha version of the CLI ;)

[2020-06-18 14:46] julon commented on #8
@arnaudlewis awesome i will try that right away :)
Since we are reviewing all the features of prismic for a production use before joining, do you know approximately in range if we are talking about days or month or more? So we can know ahead if it fits our scheduled roadmap or if we need to take it into account on our part.

If you need any more details on our use case or needs for the cli, I woul

[2020-06-18 15:46] hypervillain commented on #12
#11 was released in alpha.

Run `npx prismic-cli@alpha sm --setup --framework next` to try it out

[2020-06-18 16:02] hypervillain opened #13 "RFC: Add Storybook integration"
### Setup a Storybook project

Run `prismic sm --add-storybook --framework [nuxt/next]` to setup a Storybook, configured to preview your local slices. It should install dependencies and add scripts to your package.json.

### Create a slice with its model and stories

Run `prismic sm --create-slice --framework [nuxt/next]` to create a slice folder. If no option is provided, the command would look f

[2020-06-18 19:02] lihbr commented on #13
Looks awesome!

Can't we store the framework after initial setup in `sm.json`? Looks annoying to use the framework flag every time you want to use the CLI...

[2020-06-19 08:42] hypervillain commented on #13
Annoying indeed! We have an ongoing conversation regarding the flag on Slack, let me ping you there

[2020-06-19 08:45] hypervillain commented on #13
You can store the framework in the `sm.json` file. You would have to specify it when setting up the project:

`prismic sm --setup --framework next`

why not. I proposed to parse the package file and look for framework related dependencies (next, nuxt, gatsby..)

[2020-06-22 15:57] arnaudlewis opened #14 "RFC: Automatically detect framework"
### Context
While running slicemachine, now that we're about to support Next.js in addition to nuxt and probably more technologies soon enough, we'd like to make the journey as easy as possible to the user.
While running commands like `setup` or `create-slice` we need that information to manipulate the filesystem but it seems like an obvious info for the user and it should be detected automaticall

[2020-06-22 15:58] arnaudlewis commented on #14
First implementation in the context of adding the support of Next.js in slicemachine; https://github.com/prismicio/prismic-cli/commit/9dc97a9f770c924d2ed8a723c006275c28638c6d

[2020-06-22 16:04] Duaner commented on #13
@lihbr this is solved by this now https://github.com/prismicio/slice-machine/issues/14

[2020-06-25 14:23] fofiu opened #17 "[SliceMachine/handleFrameworks] Unable to fetch manifests"
Brand new project following your tutorial and it errors out here. What to do?
[code]

[2020-06-26 15:39] hypervillain commented on #17
Hey @cfofiu, I just pushed a fix for this, could you give it another try?

[2020-06-26 16:01] fofiu commented on #17
Works now! Thanks! Would be nice (probably sooner than later) to allow people to choose an existing repo rather than create a new one every time when running `prismic sm --setup`.

Other than that, awesome job! You guys rock!

[2020-06-26 16:38] hypervillain commented on #17
Great! I think you can pass the argument `--no-prismic` to prevent the
setup command from creating a new repo.
You would then have to manually update your Nuxt config of course 😊

On Fri, Jun 26, 2020 at 6:01 PM Claudio F. <notifications@github.com> wrote:

[2020-06-28 07:38] pablogiralt commented on #95
I managed to remove the error by doing `prismic logout` before trying to log in

[2020-06-28 07:38] #95 closed

[2020-06-28 08:40] pablogiralt opened #21 "Failed to compile nuxt-prismic-slices project"
Hi, I have gone through the slicemachine tutorial at https://www.slicemachine.dev/documentation/installing-npm

Once project is set up I run yarn dev and I get this compilation error:

[code]

[2020-06-28 09:09] lihbr commented on #21
Hey @pablogiralt, thanks for your input!

This is a known bug (due to us renaming our Vue SDK package name) that is awaiting for a merge to be fixed on #15 (btw cc @hypervillain)

In the meantime you can uninstall `prismic-vue` and install `@prismicio/vue`:
[code]

Let us know how it goes~!

[2020-06-30 13:29] lihbr opened #22 "Nuxt srcDir conflict between nuxt-sm & prismic-cli"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0 & previous

### Reproduction

1. `npx create-nuxt-app` (default preset is fine)
2. `prismic sm --setup`
3. add `slice-zone` component inside your page (if you stop here everything works fine)
4. add key `srcDir` to `nuxt.config.js` and set it to `src` (whatever), then move all folder inside it (except `node_m

[2020-06-30 14:01] lihbr opened #23 "Slice Machine setup fails to edit nuxt.config.js when it exports a CommonJS module"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0 & previous

### Reproduction

1. `npx create-nuxt-app` (default preset is fine)
2. edit `nuxt.config.js` to have it export a CommonJS module instead of an ES6 one: `export default {}` > `module.exports = {}`
3. `prismic sm --setup`

### What is expected?

Slice Machine setup should at least warn user & hint t

[2020-06-30 14:18] hypervillain commented on #22
Good catch, using `rootDir` should work fine here. Not sure we have to change anything for `--create-slice` though, as you could simply change the path to your slices folder.

@ (or ~) means that the path to your library is local. It's used by the CLI and `sm-commons` package.

[2020-06-30 14:59] Duaner opened #25 "RFC: Setup your slicemachine project with your custom library"
## Context
When using the command `prismic sm --setup` the slice machine CLI will generate a new prismic repository and import in your project a set of default Open Source components.

For nuxt.js : https://github.com/prismicio/vue-essential-slices
For next.js : https://github.com/prismicio/essential-slices

We had different request to be able to specify your own custom library instead of the defa

[2020-06-30 15:15] hypervillain commented on #25
How would you handle bootstrapped files in that situation?

[2020-06-30 15:34] Duaner commented on #25
For nuxt / vue we should be able to do everything automatically since we change the config

For react we will have to provide proper documentation to add the specific code for the library in
[code]
We will generate `prismic.js`

We should ask the library creator to add a proper readme in order to provide guidance on how to write properly the files to be bootstraped.

This should stay automatic wit

[2020-06-30 16:11] lihbr commented on #25
It'll be cool to also have a `--no-lib` flag like the `--no-prismic` one also to just setup the project for using a yet-to-be-coded local library 🙂, so we'll have:

[code]

What's the current behavior of this flag then? (I know we talked about it already but I'm still not sure regarding it) https://www.slicemachine.dev/documentation/the-prismic-cli#specify-library is it just that the models aren't

[2020-06-30 16:21] hypervillain commented on #25
Why would you run setup at all if you want to bootstrap a library?

On Tue, Jun 30, 2020 at 6:11 PM lihbr <notifications@github.com> wrote:

[2020-06-30 16:26] lihbr commented on #25
For Vue: to get `prismic-javascript`, `@prismicio/vue`, `@nuxtjs/prismic`,  `vue-slicezone`, `nuxt-sm` installed and `sm.json` & `nuxt.config.js` configured correctly in a blink?

[2020-06-30 16:46] hypervillain commented on #25
You actually don't need `@nuxtjs/prismic` nor ` nuxt-sm` nor `nuxt.config.js`
as you develop a framework agnostic library!
You probably wouldn't need `prismic-javascript` because you don't have to
handle queries either. You'd use it maybe during development though.

What it could do: install `sm-commons` and `@prismicio/vue`, add a
`prepack` script to bundle the library manifest and create an empt

[2020-06-30 16:56] lihbr commented on #25
Of course, if you're developing a library intended to be shared, but what if you just want to use Slice Machine in your Nuxt/Next project? 🤔 I feel like we're not on the same line here, we'll talk about it tomorrow most likely!

[2020-06-30 17:47] Duaner commented on #25
I think what @lihbr wants is to basically create a new slicemachine project without having any component at bootstrap but only use his own component.

So the no-lib will not really to import your existing lib but more another need.

I want to set up my project and only create my slices so i don't want to have the noise and the hassle or remove the slices imported by default.

Is that right @lihbr

[2020-06-30 17:56] lihbr commented on #25
Yup @srenault 👌

[2020-07-02 14:32] arnaudlewis opened #28 "RFC: create CLI bootstrap command to start from a cloned slicemachine repository"
## Summary

We want to add a way to synchronize your components between Prismic and your project.
It would be a CLI command that will scan all your slices on Prismic side and all your slicemachine components on the other side to help you create the missing ones and update the others if needed.

We want to add a way to start right away from an existing slicemachine project.
Let's say that you creat

[2020-07-02 15:51] arnaudlewis commented on #28
Implementation: https://github.com/prismicio/prismic-cli/pull/50

[2020-07-02 16:39] lihbr commented on #28
I get it, but if `sm.json` exists this mean that the Prismic repository already exists right? 🤔 Or I don't get the use case if that's more than a `push`~

[2020-07-02 18:49] arnaudlewis commented on #28
It’s like a theme, yes a repo exists but you want to clone the project to provision a new website or a new environnement for instance. So you need to create a new repo and update the config

[2020-07-10 13:28] levimykel opened #29 "queryType="single" not working"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0
- "vue-slicezone": "0.0.26"

### Reproduction
When I use `<slice-zone type="homepage" queryType="single" />` I get the default Slice Zone content
<img width="300" alt="Screen Shot 2020-07-10 at 3 24 33 PM" src="https://user-images.githubusercontent.com/9385378/87159342-7a075900-c2c1-11ea-8bec-9290be487b7c.png

[2020-07-10 14:34] lihbr opened #30 "Vue SliceZone doesn't output the same markup depending on usage"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0
- `vue-slicezone`: 0.0.26

### Reproduction

1. Use `slice-zone` component the internal query way: `<slice-zone type="page" uid="home" />`
2. Use `slice-zone` component the external query way: `<slice-zone :slices="data.body" />`

### What is expected?

- Markup structure should be the same
- HTML attribute `

[2020-07-10 14:53] lihbr opened #31 "`--add-storybook` command does not bootstrap a context aware configuration"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0

### Reproduction

1. Bootstrap a Slice Machine project with Nuxt.js or Next.js then run `add-storybook`

### What is expected?

Not sure to what extent it's one of our goals but it'd be truly awesome if Slice Machine was able to output a right Storybook config depending on your libraries requirements.

### W

[2020-07-15 10:01] hypervillain commented on #21
This should work, closing for now

[2020-07-15 10:01] #21 closed, assigned to nobody

[2020-07-15 10:02] hypervillain commented on #29
Hey @levimykel,

what's your project custom types at the moment? If you indeed created a single document type "homepage", your first bit of code should correctly retrieve it. Your last portion of code makes me think that homepage is actually a repeatable type. Happy to investigate anyway ✌️

[2020-07-15 10:08] hypervillain commented on #30
I believe the only way we could get rid of that div atm, would be to transform `PageFetch` into a render function. I can look into it! Can you make a PR to remove the unnecessary HTML attributes?

[2020-07-15 14:20] lihbr commented on #30
Indeed I think it'll make sense to refactor `PageFetch` into a render function displaying either the `SliceZone` or `Loading` component, working on a PR to fix those attributes.

[2020-07-15 15:59] lihbr opened #33 "Vue: Prismic preview doesn't work with partials (nav, header, footer, etc.)"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0
- `vue-slicezone`: 0.0.26

### Reproduction

1. Create a "menu" singleton type on Prismic and fill it with menu items
2. Use one of the following methods to fetch those menu items:
    - [Page Middleware](https://nuxtjs.org/api/pages-middleware) ([it's recommended way](https://www.slicemachine.dev/documentati

[2020-07-15 15:59] lihbr commented on #33
Perhaps we should try to leverage the new [`enablePreview` function](https://nuxtjs.org/blog/going-full-static#preview-mode) at Nuxt module level to work that around? Made a Nuxt plugin like that for my website already:
[code]

[2020-07-16 10:24] hypervillain commented on #33
That would work for people leveraging the new full static mode (and we should implement it for them) but we should find something for others too

[2020-07-20 09:03] levimykel commented on #29
@hypervillain I've invited you to the repo. The homepage Custom Type is definitely a Single type. Also I don't think it should matter because `getSingle` will work for repeatable types and just return the first item in the response. So it seems that it should work in any case.

[2020-07-20 09:21] levimykel commented on #29
@arnaudlewis

[2020-07-20 09:26] Duaner commented on #31
Maybe it will be interesting to introduce an automated process on the CLI to fasten your automation like the one nuxtjs is offering at the creation of your project.

Asking you which framework you're using.
Like Saas
Tailwind?

If we are recreating `npx -p @storybook/cli sb init --type` vue can we just run the command in the add storybook command when we do add storybook for the first launch? @hyp

[2020-07-23 05:40] justinmetros opened #35 "No option in —setup —lib for no libs"
Have existing Vue projects and don't want vue-essential-slices or any other, just the tool.

Is it possible to install with no framework, just slicemachine?

[2020-07-23 08:00] lihbr commented on #35
Hi @justinmetros and thanks for contributing!

Currently there's no straightforward way to do that, what I'd recommend you is to run the `--setup` command with the `--no-prismic` flag, then you can safely remove `vue-essential-slices` (as well as `node-sass` and `sass-loader` if you're not using those) from your dependencies, finally you'll need to remove `vue-essential-slices` from the `libraries

[2020-07-23 16:12] justinmetros commented on #35
Thank you @lihbr, very clear and easy enough.

[2020-07-23 16:12] #35 closed, assigned to nobody

[2020-08-12 08:09] Xayer opened #38 "Nuxt sm doesn't support server side rendering"
### Version

- Prismic CLI version (know it by running `prismic --version`):

### Reproduction

### What is expected?

Nuxt sm should fetch the slices from prismic using AsyncData, and allow the site to server side rendered, so that applications using slice machine can be statically generated.

### What is actually happening?

When using Nuxt sm,it is using vue slicezone. Vue slice zone fetches th

[2020-08-12 08:34] lihbr commented on #38
Hey @Xayer thanks for your contribution!

What version of Nuxt.js are you using? Everything should be good if you're using `2.12` or greater with [`fetch` hook rework](https://nuxtjs.org/guides/features/data-fetching#the-fetch-hook).

`vue-slicezone` actually use this hook [internally](https://github.com/prismicio/slice-machine/blob/master/packages/vue-slicezone/PageFetch.vue#L77-L88) to fetch you

[2020-08-12 19:58] Xayer commented on #38
Alright, I was clearly wrong. I just had this thought that it might have been the case for some odd reason.
I wasn't near a computer to be able to check it it exactly.
I thank you very much for your help.
~~Does that mean that if we want to use the $prismic from the context, we should use it on the fetch method?~~
Edit: Yes, yes it was the way to do it :D Thanks alot!

[2020-08-12 20:26] #38 closed, assigned to nobody

[2020-09-01 15:01] lihbr commented on #31
In August Nuxt.js came up with an official Storybook module, providing users with a context aware configuration for Nuxt project out of the box, therefore simplifying our work for this framework.

@hypervillain and I will update the `--add-storybook` command to reflect those changes for Nuxt.js, closing part of this issue.

[2020-09-01 15:07] lihbr opened #39 "Refactor & migrate packages to organization"
Before it becomes too complicated it'll be nice to rename & migrate current packages to `prismicio` or a new `slicemachine` (can make more sense I think?) npm organization.

Migration suggestions:

| Before | After |
|---|---|
| [`next-slicezone`](https://github.com/prismicio/slice-machine/tree/master/packages/next-slicezone) | `@slicemachine/next-slicezone` |
| [`vue-slicezone`](https://github.co

[2020-09-13 11:01] lihbr opened #45 "Nuxt Slice Zone fail to match component because CLI not user friendly enough"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.7.0

### Reproduction

- Run `$ prismic sm --create-slice`
- Pick a _camelCased_ name instead of a _PascalCased_ one
- CLI exits 0, creating the slice under `~/slices/camelCase` instead of `~/slices/CamelCase`

### What is expected?

CLI should throw or validate/fix arguments provided a stronger way.

### What is actual

[2020-09-13 11:03] lihbr commented on #45
@hypervillain ☺️

[2020-09-13 18:23] timbenniks opened #46 "Created slice has props declaration which gives warnings in eslint"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.7.0

### Reproduction

* Run `$ prismic sm --create-slice` and finish the setup.

### What is expected?

The prop "slice" should be added like this:

[code]

### What is actually happening?

The prop is added like this:
[code]

### Any additional information
With default eslint or prettier settings in Nuxt a props shoul

[2020-09-14 15:05] hypervillain commented on #29
Fixed by #41 !

[2020-09-14 15:05] #29 closed, assigned to nobody

[2020-09-17 14:29] hypervillain commented on #46
Thanks for reporting this, Tim
https://github.com/prismicio/prismic-cli/pull/59

[2020-10-03 22:20] jakeFeldman opened #49 "essential-slices components don't transpile with NextJS setup"
### Version

- `3.8.0-beta.1`

### Reproduction

Following the [Quick Start Guide](https://www.slicemachine.dev/documentation/next/nextjs-quick-start)

### What is expected?

SliceMachine components to load.

### What is actually happening?

Application is not able to transpile components from `essential-slices` pkg

![image](https://user-images.githubusercontent.com/25087876/95002506-0e681b80-059

[2020-10-05 09:09] hypervillain commented on #49
I created a PR that adds `essential-slices` to the list of transpiled modules here: https://github.com/prismicio/slice-machine/pull/47 and it seemed to fix the loader issue. Can you confirm that applying the fix doesn't work on your side?

[2020-10-05 17:52] jakeFeldman commented on #49
@hypervillain Thanks for the quick reply! I'll give this a try and get back to you ASAP!

[2020-10-06 03:21] jakeFeldman commented on #49
@hypervillain Adding 'essential-slices' to the list of pkgs to transpile inside the `next.config.js` resolved the issue. Thank you for the help with this! Looking forward to trying out slice machine!

[2020-10-19 08:04] gowrizrh opened #51 "Can't resolve 'essential-slicessrcslices' on Windows"
### Version

**- Prismic CLI version:** 3.8.0-beta.1

### Reproduction

Following the steps from,
https://www.slicemachine.dev/documentation/next/nextjs-quick-start

1. npx create-next-app my-new-app && cd my-new-app
2. prismic sm --setup
3. Add the `[uid].js` file
4. Create a page type in prismic dashboard. example uid: test
5. Go to `localhost:3000/test` in a browser

### What is expected?

The

[2020-10-19 09:36] lihbr commented on #51
Hey @gowrizrh, thanks for your contribution! I let know the product team about it, we should have a look at it soon!

[2020-10-23 11:25] hypervillain commented on #51
Yes, expect a fix next week. In the meantime, you can simply rename this file to your convenience and import it in your page

[2020-10-28 22:35] samuelhorn opened #55 "Prettier errors in new slice file"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.3-beta.0

### Reproduction

Create a new nuxt installation with prettier selected, create a slice using slicemachine

### What is expected?

The newly created slice should throw no linting errors

### What is actually happening?

Prettier warns about linting issues in `./slices/SliceName/index.vue` & `./slices/SliceNa

[2020-10-30 19:39] myatt95 opened #56 "migrate fails, no config supplied"
https://github.com/prismicio/slice-machine/blob/b36fa8b30c99f050356befe8671b4b368e6914b1/packages/slice-machine/server/api/migrate.js#L33

should `config` be supplied here to `getLibrariesWithFlags()`?

[2020-10-31 11:07] lihbr commented on #56
Hey @myatt95, nice catch! We'll try to sort that out quickly @hypervillain can you have a :eyes:?

[2020-10-31 19:23] myatt95 opened #57 "This line causes a null pointer when field type is IntegrationFields"
https://github.com/prismicio/slice-machine/blob/b36fa8b30c99f050356befe8671b4b368e6914b1/packages/slice-machine/lib/builder/modules/FieldZone/components/ListItem.js#L30

I wasn't able to push my model to prismic so looked at the code and this line is the culprit.

I changed to `if (!widgets[type]?.Meta) {`

[2020-10-31 21:58] lihbr commented on #57
Thank you so much for this new report @myatt95, we'll have a look at that starting next week!

You are transitioning from a "legacy" Slice Machine library to a new one right?

[2020-11-16 12:56] Duaner commented on #14
This is implemented, can we close this?

[2020-11-16 14:33] hypervillain opened #58 "RFC(slice-machine-ui): use/configure custom mocks"
As most users have noted, created mocks are pretty limited at the moment, if not existent. This is a pretty tough subject for us, as we both want to:

* help developers test components quickly, without having to "care" about actual content
* create screenshots relevant enough to be understood by their content writers

I believe the chosen solution should take care of these 2 problems, that belong

[2020-11-16 14:58] #14 closed, assigned to nobody

[2020-11-17 12:16] hypervillain commented on #55
Hey @samuelhorn, the template is well hidden indeed 😊
It's there: https://github.com/prismicio/prismic-cli/tree/mm/meta-2020/lib/commands/slicemachine/templates/nuxt

I noticed it also doesn't set a `name` property. Can you add this too? the component name should be available when the template is used

[2020-11-17 12:17] hypervillain commented on #55
It should close #46 too (that I fixed already but it somewhat got lost when merged different branches)

[2020-11-17 12:33] hypervillain commented on #56
We actually got rid of the migration with version 0.0.39, it should now only happen in file system. Can you give it a try again? If you see a "Name conflict" tag on the component or when you hover on it, this is because the (PascalCased) name of your folder needs to match with the (hyphenated) id of your component. Feel free to change any of those right from your file system.

To debug further, yo

[2020-11-17 12:34] hypervillain commented on #57
Hello @myatt95, thanks for reporting this. This should be fixed with v 0.0.39. Can you give it a try?

[2020-11-19 14:28] lihbr opened #59 "Image mock does not fit given constrainsts, image variant images mock are different"
### Version

- Prismic CLI version: v3.8.3-beta.0
- slice-machine-ui: v0.0.39

### Reproduction

- Lauch Slice Machine UI
- Add an image field
- Add a set of width and height constraints
- Add another set of width and height constrainsts
- Check out generated mock

### What is expected?

1. Generated image mock should match width and height constraints like in wroom:
![https://images.prismic.io/pr

[2020-11-19 14:47] lihbr commented on #58
Great job! I like the config interface, easily editable programmatically by the UI afterward.

It'll be nice to separate mock configs on a slice/library level, becomes easier to understand and troubleshoot? Also it'll be great to take into account that you can have different types of mocks for a same variation of a given slice (one with everything filled, one with some field missing, one with this

[2020-11-19 14:49] hypervillain commented on #59
👍

[2020-11-19 15:55] Duaner commented on #58
For images, Will it be okay if you could pass a specific unsplash URL? We could take care of dynamically resizing, cropping the image thanks to their API.

If it's a custom image, we should probably host it in order to be able to crop it for the mocks and fit the constraints set in the builder

[2020-11-19 16:03] samuelhorn commented on #58
I would love to pass an unsplash id, and slicemachine took care of the rest with unsplash api like:
`https://source.unsplash.com/WLUHO9A_xik/1600x900`.

Thats what i do for now in my customMock, but slicemachine doesn't seem to like it sometimes, as in some slices it cant take a screenshot with an unsplash image, and hence can not push to prismic either, but in some slices it works. Very strange.

[2020-11-19 16:07] samuelhorn commented on #55
Will make a PR when slicecontest is over ;)
Don't have the time right now, lol!

[2020-11-19 16:54] lihbr commented on #58
Yes, it'll be nice to be able to input any image URL and pipe it to Prismic imgix bucket @Duaner

[2020-11-22 21:38] samuelhorn commented on #55
Fixed in [this](https://github.com/prismicio/prismic-cli/pull/71) PR.

Don't really get the name property, isn't it set already on line 27?

[2020-11-23 14:22] Duaner commented on #58
@lihbr any images could be abused a bit, but either specify an image in a prismic repo or an image coming from unsplash that uses imgix ? Wdyt ?

[2020-11-23 14:33] lihbr commented on #58
Of course if that's much simpler security wise let's first scope it to images from trusted sources ☺️
I thought imgix had a feature like Cloudinary fetch thing that does all the security checks on their end: https://cloudinary.com/documentation/fetch_remote_images#remote_image_fetch_url

[2020-11-27 13:59] lihbr commented on #49
PR Merged, closing. Thanks for your input Jake!

[2020-11-27 13:59] #49 closed, assigned to nobody

[2020-11-27 14:01] lihbr commented on #55
PR merged, thanks again Samuel!

[2020-11-27 14:01] #55 closed, assigned to nobody

[2020-11-27 14:02] samuelhorn commented on #55
My pleasure 👍

[2020-11-27 15:26] lihbr opened #61 "RFC: Slice Variations Usage"
## Summary

Improving slices workflow for developers by preventing code duplication and for content writers by improving the writing room with a new feature allowing variations of a same slice. This thread is meant to discuss their usage more than the actual interface.

## Concept

The concept of slice variation is about allowing _variations within fields used/displayed in the writing room for a g

[2020-11-27 15:26] lihbr commented on #61
Here are some personal reflections regarding slice variations coming from this statement:

To me the above is true to some extent, indeed the only thing really shared by variations is the component (slice) code itself, not the mocks, nor the models, as fields are different from one variation to another. Therefore I can imagine great usage and poor usage of variation:

**Great Usage of Variations**

[2020-11-30 10:09] #13 closed, assigned to nobody

[2020-11-30 10:10] #17 closed, assigned to nobody

[2020-12-01 19:35] ReeceM commented on #61
With regards the editing the content side of things, I think it would be real useful for the variations to be retained between switching in the editor during the editing session. But lost when leaving the editing instance for a document.

How I would see that being useful is that if the editor:

- adds a slice to the doc, and they save and use the preview feature to see what it would look like,
-

[2020-12-08 01:03] evolve2k commented on #61
I'm not sure if this helps at all.
But we've addressed this by defining each of the header variations as /components and then in the Prismic content editor have added a dropdown selector called 'header_layout'.

The page template then includes this at the top:

[code]

So then the user creates a new document and they can leave the Header Layout dropdown untouched and will get the default layout..

[2020-12-08 17:28] lihbr commented on #61
Hey, thanks @ReeceM, @evolve2k for your inputs 🙌

@ReeceM that's something to consider indeed, I get your point here

@evolve2k interesting, somehow you're implementing another slice-zone here for variations 🤔

@hypervillain I'd be interested in your opinion on all of that ☺️

[2020-12-10 22:24] project707 opened #63 "Exception when running a Next.js project following the quick start and video"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.3-beta.0
- Node: 15.4.0
-NPM: 7.0.15

### Reproduction

1. Follow the quick start to set up including making a new Next.js project and a new repo: https://www.slicemachine.dev/documentation/next/nextjs-quick-start/
2. Go to http://localhost:3000/test and get the expected "your SliceZone is empty" response, though with

[2020-12-10 22:46] davidparys commented on #63
Hey,

Had a similar issue recently, what is the content of you `next.config.js` file?

[2020-12-10 23:51] project707 commented on #63
FWIW I just tested by creating my Next project manually on v9 to see if it was because Next.js 10 (the default for create-next-app now) is new-ish and maybe not tested with this, but ran into the same issue with default slices.

The contents of that file:
[code]

[2020-12-11 00:28] adrianbarbic commented on #63
I'm encountering the same issue `ReferenceError: h is not defined`, I previously have had this working but is not working today when setting up a new project.

[2020-12-11 09:26] davidparys commented on #63
There seems to be an issue with the `essential-slice` package, as I don't really need the example slices (as they are using theme-ui) I went along and removed it from the webpack from`next.config.js` and it fixed the issue for me.

[code]

[2020-12-11 23:53] project707 opened #64 "Screenshots from storybuilder rely on "name" value matching component naming convention"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.3-beta.0

### Reproduction

Create a new slice MySlice.
Change the "name" value in the model to what you'd want your editors to see, e.g. "My Slice"
Try taking a screenshot.

### What is expected?

The screenshot is taken because a common machine-readable id is used as the reference instead of the key defining display

[2020-12-14 18:56] hypervillain commented on #63
Thanks for reporting this, can you give a try to essential-slices@1.0.3-alpha.0?

[2020-12-15 12:51] samlfair commented on #63
@hypervillain That worked for me.

[2020-12-15 20:13] wasinsandiego commented on #7
It's still unclear if React on Next.js is supported yet. Is your support for Next.js the same as support for React concerning the slice machine?

[2020-12-17 11:58] hypervillain commented on #63
Released as 1.0.3. Depending on when you ran `prismic sm --setup`,
you might have to install `theme-ui` as a dependency. Thanks for your patience

[2020-12-17 11:59] #63 closed, assigned to nobody

[2020-12-21 10:41] peroh opened #68 "Preview Not Working for Next.js Project Using SliceZone"
### Version

- Prismic CLI version (know it by running `prismic --version`):  3.8.3-beta.0

### Reproduction

- Create a next.js project configured with slice machine
- Use `SliceZone` component from `next-slicezone` in a dynamically generated page route
- Set up prismic previews
- Deploy to Vercel
- Attempt to preview on deployed site

e.g. `pages/[uid].js`:

[code]

### What is expected?

I shou

[2020-12-23 09:22] davidparys commented on #61
This could be a gamechanger, include the picture of the slice, the variation of the slice, and the description of the slice, which would result in creating an actual design system.

[2020-12-23 09:25] davidparys commented on #58
That would be great. Currently, I am using storybook with Chromatic as a design system, each time I edit the model, the mocks are also changed and I have to say it's not ideal..

![Screenshot 2020-12-23 at 10 25 14](https://user-images.githubusercontent.com/56082497/102981380-27d19180-4509-11eb-8733-30b9ded3d153.png)

[2021-01-05 09:48] #7 closed, assigned to nobody

[2021-01-06 05:00] maurocolella opened #71 "Discussion: custom widgets in `slice-machine-ui`"
Hi Prismic.

I apologize for working outside of the default issue template. I am taking the initiative because I want to make the most of Prismic. My team and me want to make the most of Prismic.

We have a use case where some of the data in our slices represents bezier curves. Nothing fancy, just quadratic bezier curves represented in svg (one endpoint, and one control point, **X1-Y1 - X2-Y2**).

[2021-01-06 07:35] maurocolella opened #72 "Missing Typescript declarations for next-slicezone"
### Version

v3.8.4

### Reproduction

* install `next-slicezone` in a Typescript project.
* import hooks.

### What is expected?

* A TypeScript definition is found for all importable modules.

### What is actually happening?

* The TypeScript compilator complains (and refuses to compile).

### Any additional information

Auto-generated declarations should probably cover most needs.
https://www.t

[2021-01-06 14:38] lihbr commented on #72
Hey @maurocolella, thanks for the report!

We'll have a look at that, indeed we know proper TypeScript support is becoming more and more of an issue with our multiple dev kits and are definitely looking forward to improving that this year 🙌

In the meantime, if you find a workaround feel free to share it here for other TypeScript users~ 🙂

[2021-01-06 15:18] maurocolella commented on #72
Hey @lihbr thanks for your reply! For me, the workaround so far has been to simply implement custom slice parsing logic, which enables me to make use of `next/dynamic`, lazy loading and code splitting.

Yet another thing I'd like to suggest for this use case.

While on the topic, another feature that's pretty critical for my team, and that would be a game changer, would be some way to supply custo

[2021-01-07 15:57] lihbr commented on #71
Hey Mauro, have no worries~! Really happy to hear that you're looking to make the most out of Prismic ☺️

That's an interesting use case you have here and it would make perfect sense to have custom widgets here indeed. I'm afraid although that this is not something possible with Prismic *yet*.

You could, theoretically, fork `slice-machine-ui` and from there work your way toward adding another wid

[2021-01-07 17:04] maurocolella commented on #71
Thanks Lucie. I thought about that: thanks a lot for your help and your
thoughtful feedback.

I think that well-isolated input widgets, for example
widgets-as-render-props, or widgets that must strictly implement a certain
interface or extend a minimal parent class could work.

For my team, as I said, Prismic seems like the kind of lean starting point
we want, but we want it lean because we want t

[2021-01-12 20:31] techmind-git opened #73 "error on Enter when rich text is not allowing multi paragraph"
### Version
3.8.5

### Reproduction
I define a field in my slice of type rich text without the "multiple paragraph" checked. After pushed to Prismic I try to add content to the field. When clicking ENTER I get a console error. After running into this issue with a slice I tried the same with a static field and it has the same error on ENTER. With multiple paragraph option selected no errors are pre

[2021-01-12 20:39] techmind-git opened #74 "Error when starting slice builder"
### Version
v3.8.5

### Reproduction
starting slice builder locally with "prismic sm --develop"

### What is expected?
No errors

### What is actually happening?
[code]

### Any additional information
I'm running on Windows machine and using npm. I didn't get the error when downgrading slice-machine-ui to 0.0.42, but I do when using 0.0.43. Although I get the error I don't see any issues using sli

[2021-01-14 14:21] hypervillain opened #75 "RFC: Custom screenshots"
### Changelog

SliceMachine now supports custom screenshots! ✌️

Previously, screenshots were stored along with your components. Everytime a change was made to a slice, a new screenshot was generated, erasing the previous one.

This behaviour made it impossible for users to add their own preview file.

These default screenshots are now stored in .slicemachine, a special folder that will probaby gr

[2021-01-14 15:58] hypervillain commented on #74
Hey @techmind-git, thanks for reporting this. The error should be fixed in upcoming version. As you mentioned, it's self-contained and shouldn't have any incidence on your project.

[2021-01-14 15:58] #74 closed, assigned to nobody

[2021-01-18 13:46] lihbr commented on #73
Hey, thanks for the report @techmind-git, we'll have a look into it!

Tagging @Duaner here and forwarding your request to our productboard ☺️

[2021-01-18 14:02] hypervillain commented on #68
Thanks for the detailed report! I believe this would require a rewrite, let me talk about it with the team tomorrow and see how we can tackle it

[2021-01-18 21:20] AdamDiament commented on #68
@hypervillain  this is also a problem for my Dev team, thanks for looking into it.

[2021-01-18 21:24] benjaminsiegal commented on #68
@hypervillain this is also an issue for our team. Thanks for looking into this! Some of our clients are waiting for this to be resolved before moving to Prismic.

[2021-01-19 20:03] jrah commented on #61
I have a similar approach to @evolve2k where I use the select.

I like the idea of having a basic, standard, baseline slice variant and the others are variations of the base slice.

It is true that having many `if/else` can become untidy but so can having many slices. I think that slice variants can reduce the cognitive load (primarily for the content manager, secondarily for the developer and des

[2021-01-20 15:23] hypervillain commented on #68
Alright, who wants to try `next-slicezone@0.0.12-alpha.0`? 😊

The only change to your code it requires would be to add a condition on when the resolver is being called in `pages/_document`. Mine is like this at the moment:

[code]

Hope that helps. Let me know!

[2021-01-20 17:05] bobsingor commented on #68
@hypervillain Amazing! This is working. Thanks a lot.

I have a related question. Is it possible to get the Prismic preview bar inside a next.js slicemachine project? We would like to share previewed documents with different department in the company.

[2021-01-20 17:21] lihbr commented on #68
Hey @bobsingor, you should be able to enable the toolbar on Next.js independently of Slice Machine, check the snippet here if that can help: https://github.com/prismicio/nextjs-blog/blob/master/components/PrismicScript.js or the dedicated documentation: https://prismic.io/docs/technologies/previews-nextjs ☺️

[2021-01-20 19:46] Duaner commented on #61
Hey all thanks for the great feedback, it's fantastic to have your input on that.

I completely agree with you @ReeceM we were thinking about that from the beginning of the project. We will support the content migration from a variation to another as soon as the field is having the same key in both variations.

For the design, we were thinking about something like that. Does it correspond to what

[2021-01-20 19:58] davidparys commented on #61
Looks great. 👍

[2021-01-20 21:18] peroh commented on #68
Working for me too! Thanks very much @hypervillain

[2021-01-22 12:36] priyaprafful opened #76 "'Define first value as default' checkbox doesn't retain value in mask on save"
### Version

- Prismic CLI version (know it by running `prismic --version`):
prismic --version; 3.8.5

### Reproduction

Created Slice-machine cluster repository and add a select field and set the default value.

### What is expected?

Default value in a select field should remain saved after being saved custom-type.

### What is actually happening?

The client has created his project with the Sli

[2021-01-29 14:35] hv-prov commented on #61
I have another perspective on variations, so allow me share my 2 cents 😊

To me, variations are not satisfying in their current state: the fact that variations don't truly share fields (just copies of configuration) brings a lot of overhead and is error prone on the long run. Pretty much like sharing slices between custom types before we introduced real shared slices.

Because fields are not share

[2021-01-29 18:55] ReeceM commented on #58
Not sure if this is the right one to post this, I tried the custom mocks stuff just now, I noticed that the tabs are not highlighted when clicking on it, it's not obvious that you have clicked on the right one as they stay the same state.

Another question, would it be more practical to have as the mock options only the valid choices? It might require less cognitive power and action to pick betwee

[2021-02-09 17:14] pablogiralt opened #78 "SASS Loader module build failed when setting up project"
### Version

- Prismic CLI version: 3.8.7
- Node version: 10.23.2

### Reproduction

Follow slicemachine quick start instructions:
`npx create-nuxt-app my-slicemachine-project`

Nuxt app setttings:
<img width="669" alt="Screen Shot 2021-02-09 at 18 08 08" src="https://user-images.githubusercontent.com/9419680/107400131-d5245700-6b01-11eb-9c2a-e8946ef50eee.png">
`cd my-slicemachine-project`
`prismi

[2021-02-09 19:18] pablogiralt commented on #78
ok, so it seems the latest version of sass-loader is not working with latest of vue:
https://stackoverflow.com/questions/66082397/typeerror-this-getoptions-is-not-a-function

I run `yarn add sass-loader@^10.1.1` to fix the issue

[2021-02-09 20:10] lihbr commented on #78
Hey @pablogiralt, thanks for your contribution! I'm glad you figured out the issue.

That's quite annoying if every setup leads to this issue now 🤔 I hope they'll fix the issue soon~

@hypervillain perhaps in the meantime, we should pin it there? https://github.com/prismicio/vue-essential-slices/blob/master/sm.config.json#L13

[2021-02-11 13:38] lihbr commented on #78
Fixed in https://github.com/prismicio/vue-essential-slices/commit/ab570cd2bc8c527d1b02f275ca4b6f337885089c
Thanks for the report!

[2021-02-11 13:38] #78 closed, assigned to nobody

[2021-02-11 14:07] pablogiralt commented on #78
thanks @lihbr!

[2021-02-13 13:23] peroh opened #79 "Can't Push Slice - Payload Too Large"
### Version

- Prismic CLI version (know it by running `prismic --version`):  **v3.8.7**

### Reproduction

1. Run the Slice Builder with `prismic sm --develop`
2. Try pushing the below slice to prismic

### What is expected?

The slice should get pushed to prismic.

### What is actually happening?

I get the error:

[code]

### Any additional information

I already had a slice and tried updating

[2021-02-13 14:44] lihbr commented on #79
Hey @peroh, thanks for the report! We'll have a quick look at that next week~

In the meantime, if you can share us `slice-machine-ui` version (from your package.json), that'll be helpful!

cc @arnaudlewis @hypervillain

[2021-02-14 01:39] peroh commented on #79
Yes sure: `"slice-machine-ui": "0.0.38"`

I just realised I'm still on the `0.0.12` alpha for `next-slicezone` as well.

Here's my full list of dependencies:

[code]

Thanks for looking into it!

[2021-02-14 09:53] peroh commented on #79
For some more context, it doesn't appear to be an issue with the `slice-machine-ui` server, but in the slices API. `createOrUpdate` in `slice-machine-ui/server/api/push.js` fails with a `413`.

[2021-02-14 10:07] lihbr commented on #79
Thanks for the info, I'll bring it up tomorrow in the daily. We did some minor updates to the preview screenshots since `0.0.38`, in the meantime, I'd suggest trying with `slice-machine-ui@0.0.44-alpha.6` (our current candidate for landing stable next week)

[2021-02-14 10:33] peroh commented on #79
That fixes it! Yes the issue did seem to be around the preview screenshot - the screenshot was what was causing the payload to be too large. Manually shrinking the preview got around the problem before the update. With `slice-machine-ui@0.0.44-alpha.6` to problem is resolved though. Thanks for the quick response!

[2021-02-14 10:33] #79 closed, assigned to nobody

[2021-02-17 16:08] lihbr commented on #8
Not relevant since Slice Machine UI, I'm closing that one!

[2021-02-17 16:08] #8 closed, assigned to nobody

[2021-02-17 17:23] lihbr commented on #12
Addressed, I'm closing that one!

[2021-02-17 17:23] #12 closed, assigned to nobody

[2021-02-17 17:29] lihbr commented on #10
*Update `02/17/2021`:*
1. I'm not sure what's the status of Next regarding that, if that's resolved we can close.
2. Having PrismicLink components for Next and Gatsby just like Vue is still a nice idea imho.

[2021-02-17 17:34] lihbr commented on #22
*Update `02/17/2021`:*
1. Still a bug

[2021-02-17 17:35] lihbr commented on #23
*Update `02/17/2021`:*
1. Not the usual way of exporting a Nuxt config but still a bug

[2021-02-17 17:37] lihbr commented on #25
*Update `02/17/2021`:*
1. `--lib` flag is working
2. Setting up Slice Machine with no libraries should be the default now, @MarcMcIntosh to have that in mind when working on it 🙂 (will also reduce the overhead!)

[2021-02-17 17:38] lihbr commented on #28
Closing since implemented! 🎉

[2021-02-17 17:38] #28 closed, assigned to nobody

[2021-02-17 17:38] lihbr commented on #30
*Update `02/17/2021`:*
1. I resolved conflicts on my PR, checking it with @hypervillain soon!

[2021-02-17 17:40] lihbr commented on #31
prismicio/prismic-cli#62 has been merged in mm/meta-2020, closing~

[2021-02-17 17:40] #31 closed, assigned to nobody

[2021-02-17 17:42] lihbr commented on #33
*Update `02/17/2021`:*
1. I think that still a bug, need to try to reproduce

[2021-02-17 17:42] lihbr commented on #39
*Update `02/17/2021`:*
1. I'd still love it

[2021-02-17 17:44] lihbr commented on #45
The CLI now enforce correct casing, closing.

[2021-02-17 17:44] #45 closed, assigned to nobody

[2021-02-17 17:46] lihbr commented on #46
Has been fixed, closing 🥳

[2021-02-17 17:46] #46 closed, assigned to nobody

[2021-02-17 17:49] lihbr commented on #51
This has been fixed! 🥳

[2021-02-17 17:49] #51 closed, assigned to nobody

[2021-02-17 17:50] lihbr commented on #56
Has been fixed 🥳

[2021-02-17 17:50] #56 closed, assigned to nobody

[2021-02-17 17:51] lihbr commented on #57
Has been fixed 🥳

[2021-02-17 17:51] #57 closed, assigned to nobody

[2021-02-17 17:52] lihbr commented on #59
Has been fixed 🥳

[2021-02-17 17:52] #59 closed, assigned to hypervillain

[2021-02-17 17:53] lihbr commented on #64
Hey @project707, I'm really sorry for the lack of support back then, we'll have a look into it~

*Update `02/17/2021`:*
1. Needs investigation @hypervillain

[2021-02-17 17:54] lihbr commented on #68
Merged and published as of `next-slicezone@0.0.12`, closing :tada:

[2021-02-17 17:54] #68 closed, assigned to nobody

[2021-02-17 17:55] lihbr commented on #71
*Update `02/17/2021`:*
1. @Duaner if you can have a quick look at this thread, I'm thinking it's out of scope so maybe closing it?

[2021-02-17 17:58] lihbr commented on #76
*Update `02/17/2021`:*
1. Managed to reproduce, still an issue @hypervillain @Duaner

[2021-02-22 21:12] ReeceM commented on #58
Hi Hugo and Lucie, I think I might have found an edge case issue that has interaction with the Variation and Mocks together.

I just am in between things trying to trace down the exact lines.

So don't want to just open a blank issue, or is it okay if I do that and then update it with the lines and console output?

[2021-02-22 21:22] ReeceM commented on #58
### Additional Feedback

The mocks have been working great that I have been working with them again.

I have an interesting thought. So for paragraphs there is the option to pick the number of blocks like when it is for rich text.

But I have notice, and there is the pattern where the `Text Content` type is used for link button text and navbar links. No considering the normal design pattern is 1 -

[2021-02-23 09:52] lihbr commented on #58
Thanks Reece for the additional feedback! Indeed that would be great and will most likely be part of our 2nd iteration on mocks!

[2021-02-23 12:58] hypervillain commented on #58
For RichText, you can manually add a "content" key to your field in `.slicemachine/mocks.json`:

[code]
Internally, we have everything available to define min-max number of paragraphs and words so we'll discuss the possibility to make them available through the interface really soon

[2021-02-23 13:01] MarcMcIntosh commented on #25
@lihbr that could be done.... but then we would have to ask people to install them

[2021-02-23 18:18] Duaner commented on #25
I don't think it should be the new default, for now, this will reduce the time to arrive at the first success for newcomers. This is a good thing for people already knowing the product but might create a steeper learning curve.

[2021-02-23 18:36] lihbr commented on #25
To me the "getting started" tutorial should be saying: `$ prismic sm --setup --lib=essential-slice` or `$ prismic sm --setup --basic` to give a first success but really having these libraries has default comes with more cons than pros for everyone else in my opinion. Happy to discuss it though :)

@a-trost, what's your opinion?

Edit: I also noticed the new Nuxt documentation doesn't talk about th

[2021-02-23 19:27] a-trost commented on #25
Agreed that the components should be opt-in, rather than opt-out. I think adding the flag in the getting started tutorial handles that early success for newcomers.

[2021-02-24 14:16] ReeceM commented on #58
Not sure if this was answered, but should I open a new issue for what I have found ? It might be a process flow issue or a bug depending on how you look at it.

[2021-02-25 12:03] lihbr commented on #58
Sure! Go ahead ☺️ Thanks again for all your contributions ♥

[2021-02-25 12:50] ReeceM commented on #58
Hey @lihbr it must have been fixed then between the `alpha.6` version and the release of 0.0.44, awesome then \:)

Tried the update when checking if it was a version issue with the alpha (given I guess)

It was this error that doesn't come up now: `[sliceName].js:1 Warning: An unhandled error was caught from submitForm() TypeError: Cannot convert undefined or null to object`

[2021-02-26 12:16] davidparys commented on #25
This could be super useful. I have some projects that don't require the essential slices.

[2021-03-01 09:33] hypervillain commented on #76
fixed

[2021-03-01 09:33] #76 closed, assigned to hypervillain

[2021-03-01 09:40] hypervillain commented on #64
Thanks for reporting this @project707, from what I understand, renaming the slice and taking a screenshot should work fine if you reload the builder page before taking the screenshot. I'll try to reproduce on my side today

[2021-03-01 15:00] #30 closed, assigned to nobody

[2021-03-08 16:11] pablogiralt opened #84 "Error when trying to edit a slice via Slice Builder UI"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.8

### Reproduction

1. Run Slice Builder using `prismic sm --develop`

2. Open Slice Builder at http://localhost:9999/ and access my first created slice (via `prismic sm --create-slice`)

3. Add a new field and click on **Save model to filesystem**

### What is expected?

I expect new field to be saved

### What is a

[2021-03-08 16:29] lihbr commented on #84
Hey @pablogiralt, thanks for opening an issue!

Can you share your version of Slice Machine UI please? (inside your `package.json`) Thanks!

(cc @hypervillain)

[2021-03-08 16:33] pablogiralt commented on #84
sure @lihbr, I am using 0.0.44

[2021-03-08 16:47] pablogiralt commented on #84
ok, so I was using node 10.  I have switched to v12 and now I'm not getting the `content.flat() is not a function` error.

I imagine that js function is not available in node 10

[2021-03-08 16:48] lihbr commented on #84
Oh great! Glad you figured it out~

Indeed Slice Machine requires v12 now at least, we'll have some warning enforcing that pretty soon 🙂

[2021-03-08 16:49] pablogiralt commented on #84
thanks @lihbr! closing this

[2021-03-08 16:49] #84 closed, assigned to nobody

[2021-03-13 14:38] samlfair opened #86 "Bundle tests are incompatible with new slice builder"
https://github.com/prismicio/slice-machine/blob/d5e869a9fa226992f2d99efa5d4105e758249c52/packages/sm-commons/expect/index.js#L35

It looks like these tests aren't compatible with the latest Slice Builder:

[code]

After creating slices with the builder, I tried to bundle, and couldn't do so until I commented these out.

[2021-03-21 15:27] bobsingor opened #88 "slice-machine-ui 0.0.44 error TypeError: content.flat is not a function"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.9

### Reproduction

After updating to slice-machine-ui 0.0.44 we are unable to push a slice to prismic.

We get the following error:

TypeError: content.flat is not a function
[slice-machine] [update]: generating mocks

[slice-machine] (node:74581) UnhandledPromiseRejectionWarning: TypeError: content.flat is not a fu

[2021-03-21 16:52] lihbr commented on #88
Hey Bob, hope you're doing well! Thanks for letting us known, we'll have a look at it!

@arnaudlewis / @hypervillain maybe

[2021-03-22 13:55] hypervillain commented on #88
Hey @bobsingor, try upgrading node to v12-14.

@lihbr We'll add a warning on 0.1 that checks node version before launching the actual builder

[2021-03-22 14:24] lihbr commented on #88
Awesome @hypervillain, for the warning check: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#engines might already be helpful :)

[2021-03-25 10:02] #88 closed, assigned to nobody

[2021-03-30 19:25] a-trost opened #89 "RFC: Name component functions with the Slice Name"
## Current state
Right now when you create a slice with `prismic sm --create-slice` you are asked to give a location to build the slice, as well as a PascalCase name for that slice. The CLI then creates a folder with that name, and uses it in a few other places like the Storybook story file.

It does not use it to name the React functional component that it creates, so you get essentially this:
[c

[2021-03-30 19:29] davidparys commented on #89
Yes ! After one project with 20 or so slices this saves a solid 1-2 min per slice

[2021-03-30 19:30] ReeceM commented on #89
Hey Alex, think maybe this might be the same thing here https://community.prismic.io/t/slicename-in-in-index-js-is-not-the-same-as-name-given-in-cli/3790/6

And here: https://github.com/prismicio/prismic-cli/issues/78

I am not sure where in the upstream stream of time it is \:) or if it is related to this.

Pity GitHub pulled the issue looks like this search thing... 🤷‍♂️

[2021-03-30 19:51] ReeceM commented on #89
Went and found it again, I looked at it when the changes were made, unless these are going to be integrated into this monorepo?

https://github.com/prismicio/prismic-cli/blob/9baad5e01fff33a620d08e0e1fc423159fa54d26/src/generators/slicemachine/create-slice/templates/next/index.js#L3-L5

Personally I can see only benefit from this as it will help too when using debug tools and seeing the name. As w

[2021-03-30 23:42] a-trost commented on #89
Great call, @ReeceM! That's exactly what I was talking about. Seems like it's on its way. I appreciate you surfacing that!

[2021-03-31 15:48] phillysnow opened #91 "[RFC] Build Custom Types (Page Templates) locally"
**What is this?**
We've begun the process to bring the power of building Custom Types locally using slice-machine-ui, as is already possible with Slices. This will enable this use of content relationships & integration fields with Slice Machine

This has given us a unique opportunity to rethink what the most important aspects of creating Custom Types are. We would love your feedback about what you

[2021-03-31 17:04] jserrao commented on #91
I attended the live webinar on 2021-03-31, some notes you all asked me to put over here:

- In webflow, a repetitive section between page templates is called a 'symbol'. It's basically the same idea you are trying to do with a persistent slice. It might be good to look at their UI for insight into how this works for your slice machine design.

- Prismic tags need work. Right now they are just one

[2021-03-31 19:56] david-noe commented on #91
I really like in what direction Prismic is going 👍
Some thoughts about «Page Templates» and Slice Machine.

- I think it's important to be careful about naming Custom Types too specifically. Having hard-coded categories would exclude many use cases that are now covered (since nobody tells you what a custom type is). I'm thinking of data models like products, authors, events which are in themselves

[2021-03-31 20:17] kolbykruger commented on #91
I think this is a great addition to slice-machine. It was oddly compartmentalized before to have only have slices locally, as you had to go back into Prismic to make the slices available on the custom types. This will improve workflow for devs as we can basically control everything we need to outside of Prismic.

**Static Zone**
Absolutely super useful on pretty much every page I create. We declar

[2021-04-01 14:05] pkrawc commented on #91
I think I might be in the minority here and this might be the wrong place to put this feedback but I want all the features of locally built types/slices but I don't want to have to use the slice machine UI.

I was the avail poster in the video thread, so with that context let me go through some thoughts.

1. I think the idea of having the type/slice shape live in version control is a really good i

[2021-04-01 14:08] pkrawc commented on #91
I'm imagining the above proposal would be synced periodically with a prismic repo. This could be done through the CLI and easily part of a CI/CD pipeline using github actions.

[2021-04-01 14:34] jserrao commented on #91
@pkrawc - check out keystone.js, it does almost exactly what you're looking for.

[2021-04-01 14:49] pkrawc commented on #91
@jserrao Thanks that's a good recommendation. I would like to continue to use prismic as the writer's room though, so hoping that same functionality can make its way into their tooling.

[2021-04-01 15:04] jserrao commented on #91
@pkrawc - yeah, I like the SaaS nature of Prismic for client work, but I like the schema definition in Keystone better as a developer. A fusion of the two would be ideal.

[2021-04-01 15:33] ReeceM commented on #91
@pkrawc I mentioned this in the comments on the stream, and also had a thought about it on twitter when Hugo gave an example of the `pris-types` => https://pris-types.vercel.app/live

It has a sort of similar layout to what you are describing, but could technically be a starting point for introducing a single point of entry into the custom types and slice models.

In a way, because it is building

[2021-04-02 23:52] fbushell commented on #91
I would love to help test however I can ✌🏼

[2021-04-05 09:28] darrenbarklie commented on #91
Some great points above, that cover most of my thoughts. I'll echo a few of my considerations below:
- I agree with @david-noe & @kolbykruger that *Content Models* is a better fitting name than *Custom Types*. I strongly disagree with *Pages* as the label, as content is commonly digested across multiple locations (homepage highlights, content landing page, content internal page, etc.). It should b

[2021-04-06 10:41] MarcMcIntosh opened #93 "Issue with Priscmic.Date or code snippet."
### Version

- Prismic CLI version (know it by running `prismic --version`):
"slice-machine-ui": "^0.0.45"

"prismic-reactjs": "^1.3.3",

### Reproduction
The snippet says to add this to a slice.
`<span >{ ParseDate(slice.primary.myDate) }</span>`
But it breaks the page with this error warning.
`Objects are not valid as a React child (found: Fri Jul 13 2018 02:00:00 GMT+0200 (Central European Summ

[2021-04-09 20:53] pkrawc commented on #91
I think `Page` is as much a label for context as it is for usage. In atomic design, you have levels that are really just defined by how reusable they are, which I think applies here. `Page` is similar to `Template` in that jargon which is a pattern that can as a whole be repeatable, but can't be easily consumed by other components/types.

@darrenbarklie

[2021-04-12 20:06] pvpg opened #94 "Dynamic Internationalized Values not available in Lifecycle Hooks"
### Version
3.8.10

### Reproduction
We want to be able to get the dynamic language values in `useGetStaticProps` and `useGetStaticPaths` that are set up in the next.config.js to use them as you would in `getStaticProps` and `getStaticPaths`.

[2021-04-15 13:23] hypervillain commented on #94
Done in `0.0.15`, use `lang` like you use `uid`

[2021-04-15 13:23] #94 closed, assigned to nobody

[2021-04-16 13:47] Duaner commented on #91
Hey all, thanks so much for all the awesome feedback.

I’m coming back from my holidays, and it's so nice to see your enthusiasm and commitment to building this.
There is a bunch of topics here, and I'll try to tackle them all.

**Naming of Custom Types & Page Templates**

We don't want to rename all custom types to page templates. What we saw is that there is different uses cases for custom types

[2021-04-19 14:41] lihbr commented on #93
cc @hypervillain maybe?

[2021-04-21 04:55] vbasoon commented on #78
thanks @lihbr!

[2021-04-23 15:36] kopax-polyconseil commented on #78
Hi, I have tested all the version from 8 to 11 and I still have this error on a new project. Why is this happening ?

[2021-04-23 16:06] lihbr commented on #78
Hey @kopax-polyconseil, I'm sorry to hear that, can you share your complete package.json, node version, and error details please?

[2021-04-23 16:13] kopax-polyconseil commented on #78
Thanks for heleping:

[code]

I am having the following error when I start my application:

[code]

This is my `devDepednencies`:

[code]

I have tried to downgrade `postcss-loader` to v4 but then I couldn't get my image assets due to a resolution problem.

I have also tried to downgrade `sass-loader` until v8, without sucesss.

I just want to use sass within a new create-react-app project, how ca

[2021-04-23 16:53] lihbr commented on #78
Hey thanks! Dumb question maybe but are you actually using [Slice Machine](https://slicemachine.dev)? If not I'd suggest opening an issue on https://github.com/webpack-contrib/sass-loader to get relevant assistance ☺️ The above issue was linked to Slice Machine + Vue.js + SASS

[2021-04-23 16:55] kopax-polyconseil commented on #78
Fair enough, I was trying to get some luck here,
Thank you for your replies,
Dimitri

Le ven. 23 avr. 2021 à 18:54, Lucie ***@***.***> a écrit :

[2021-04-23 17:11] lihbr commented on #78
No worries! I would have happily helped you with it but unfortunately I'm not familiar with React and it's been a while since I had to dive into a Webpack config. I think you'll get help there much quicker than here :)

[2021-04-27 08:18] samlfair commented on #91
I agree with @kolbykruger that "Template" sounds like it's related to HTML, whereas "Model" sounds like it's related to JSON.

In addition to Pages and Menus, I'd also like to suggest another Document Supertype: Taxonomies.

Taxonomies would supersede the native tagging system. When you define a Taxonomy type (such as "Author," "Tag," or "Category") Prismic would recognize it and turn it into a fi

[2021-04-29 08:27] samlfair opened #102 "[Feature] Custom props in next-slicezone"
@hypervillain added Custom Props to `vue-slicezone`: https://github.com/prismicio/slice-machine/pull/67

[As user on the forum asked](https://community.prismic.io/t/can-you-pass-props-down-to-the-individual-slice-components/5128) if you can pass custom props in `next-slicezone`, which I don't think is possible currently. Could we add custom props in Next?

[2021-04-29 19:14] drewlonious commented on #102
Yes, to piggy back on what @samlfair is saying, would love to pass custom props into next-slicezone! There are some usecases for this, being extremely useful. Would love any insight as to whether or not this is possible.

[2021-04-29 21:00] hypervillain commented on #102
This is possible and will be done next week

Envoyé de mon iPhone

[2021-05-03 09:19] hypervillain commented on #22
@lihbr I think we could treat @ prefix depending on the framework you use and take rootDir into consideration in this case: call create slice from root folder to get the package.json but identify rootDir and look for slices folder from there

[2021-05-03 09:31] hypervillain commented on #72
@maurocolella any chance I could have a look at your custom parser?

[2021-05-03 12:09] maurocolella commented on #72
Hey @hypervillain . Unfortunately, we have discontinued the Prismic part of the project, and I don't remember all the specifics.

We did continue with another CMS, and while we don't have a slice generator per se, we have a dynamic, effective component template, with live preview during editing, lazy loading, etc.

I will gladly answer questions to the best of my ability.

[2021-05-03 12:59] lihbr commented on #22
I don't think it was related to that but just to `nuxt-sm` not handling the `rootDir` options from Nuxt, ping me if you want to tackle it together!

[2021-05-07 15:00] hypervillain commented on #102
I just published `next-slicezone@0.1.0`. You should be able to pass a `sliceProps` prop to the SliceZone (object or function). We also made some changes to the `useGetStatic` -Paths and -Props calls:

1/ `params` has been renamed to `apiParams`
2/ No more `uid` or `lang` params, use `apiParams: { uid: '', lang: '' }` instead
3/ We added a `getStaticPathsParams` prop that gets passed to return obje

[2021-05-07 15:01] hypervillain commented on #102
WIP README: https://github.com/prismicio/slice-machine/tree/master/packages/next-slicezone

[2021-05-13 01:08] wasinsandiego commented on #102
Thanks for this!
How would I install `next-slicezone@0.1.0`? The highest version I been able to install is ~0.1.5~ 0.0.15.

- Edit: I had a typo on the version I was able to get installed. It's actually 0.0.15 and I got that by `npm install next-slicezone@latest`.

[2021-05-13 08:29] hypervillain commented on #102
Hey Will, you need to install ***@***.***` to target the latest
version that was tagged alpha on npm

On Thu, May 13, 2021 at 3:08 AM Will Schoenberger ***@***.***>
wrote:

[2021-05-13 17:11] wasinsandiego commented on #102
@hypervillain Thanks for the reply!
Wondering perhaps if some text replacement happened in your message? I'm seeing a bunch of asterisks in your example instead of the package name and version.

On the chance the asterisks were intentional to illustrate removal of the minor semver digit, I did try `npm install next-slicezone@0.1` without luck. Is this a situation where I need to clone and build lo

[2021-05-13 18:01] hypervillain commented on #102
That was non intentional haha, I believe Github thought it was an email address.
Try `next-slicezone@alpha` 😊

[2021-05-31 00:20] jrhager84 opened #121 "SyntaxError: Cannot use import statement outside a module at \node_modules\next-slicezone\index.js:1"
### Version

- Prismic CLI version: 3.8.13

### Reproduction

Added slicezone per documentation.

### What is expected?

Using slicezone after install

### What is actually happening?

[code]

### Any additional information

Everything else from Prismic works fine. I *did* have to consult Prismic because I was migrating to an existing repo, and I had to redo some config files, but everything looks

[2021-05-31 10:13] samuelhorn commented on #75
This is awesome. Since almost every slice will probably be in a Figma/Sketch file or something like that. It would be great to be able to tailor this screenshot to look as good as possible. Also, it should probably be documented somewhere what pixel ratio/res the file should have as well!

[2021-05-31 13:00] lihbr commented on #75
Definitely with Samuel, resizing/documenting the expected format would help produce beautiful screenshots!

[2021-06-01 11:14] samuelhorn opened #123 "Suggestion: Better variations UI"
Hi!

I know this one is still in the works, and you probably have something in mind already, but cant hurt to share some thoughts right? :)

I was remaking the Slicemachine UI as a practice just for fun, and may have found a good way to show the variations as buttons instead of a dropdown as they are represented now. You could mark the active one with a line or something like i did.

Some benefits

[2021-06-01 12:01] samuelhorn commented on #75
Maybe when you push the upload button, you'll get presented with a neat dropbox, with a description below like:

DRAG YOUR FILE HERE
Note: File should be png and minimum 800x400

[2021-06-06 12:27] AdamDiament commented on #121
I have the exact same issue

[2021-06-07 12:41] AdamDiament commented on #121
Fixed using next-transpile-modules and next-compose-plugins

[2021-06-07 15:46] lihbr commented on #121
@hypervillain can you have a look at this one?

[2021-06-07 16:10] hypervillain commented on #121
Hey, which version of the slicezone are you using?

[2021-06-07 17:40] jrhager84 commented on #121
I'm using the 0.1 0 canary/beta that prismic recommends installing.

[2021-06-08 09:46] hypervillain commented on #121
Sorry I wasn't clear, I meant the version of [`next-slicezone`](https://www.npmjs.com/package/next-slicezone) but I think you're using 0.0.15.

I see two related issues in your code: you're importing client-side code but don't use it, which might confuse Next.js with where it should import the bundle (client or server side).

Can you try this?
1. Change your import to `import SliceZone from 'next-

[2021-06-09 10:00] hypervillain commented on #123
Transitions between variations are really unclear atm, I agree. @Duaner @sadache

[2021-06-09 10:03] hypervillain commented on #102
This was merged. We'll also release a `0.1.0` which is in alpha right now. Feel free to give it a try

[2021-06-09 10:03] #102 closed, assigned to nobody

[2021-06-09 10:05] #58 closed, assigned to nobody

[2021-06-09 10:05] hypervillain commented on #73
Closing as this is not directly related to the local builder

[2021-06-09 10:05] #73 closed, assigned to nobody

[2021-06-09 10:06] hypervillain commented on #71
Closing for the moment as we're not planning to handle custom widgets ATM

[2021-06-09 10:06] #71 closed, assigned to nobody

[2021-06-09 16:38] asotog commented on #72
Same here would be great the  typescript support, I created a NextJS project with typescript but is complaining in
[code]
I added
[code]
to `next-env.d.ts` file and works fine

[2021-06-11 13:16] samuelhorn opened #124 "Slicemachine UI shows the wrong type for custom types"
### Version

- Prismic CLI version (know it by running `prismic --version`): 4.0.1-alpha.10

### Reproduction

Create a custom type, it shows the opposite of "repeatable" in the index.json for that type

### What is expected?

Expected to show "Single type" if "repeatable" is set to false.

### What is actually happening?

Shows "Single type" if "repeatable" is set to true and vice verca.

![ui-er

[2021-06-13 12:02] ReeceM opened #128 "Adding version 0.1.0 to old sm project fails to show startup page and when storybook isn't installed"
### Version

- Prismic CLI version (know it by running `prismic --version`): *`prismic-cli/4.0.1-alpha.10`*

### Reproduction

Have a project that is on version <= 0.0.46 then manually upgrade to the 0.1.0 version.

Leaving the defaults from the previous versions folder structure for SliceMachine.

### What is expected?

Be able to run `yarn slicemachine` and access the builder without being prese

[2021-06-13 13:00] ReeceM commented on #25
It would be nice not to have the essential slices installed by default, I don't think it would have a steep learning curve. I find myself removing the essential-slice libraries as I don't use them. (May be digging up an old thing here?)

All a new person would see is the magic that it opens up a page possibly and has some slices, unfortunately, it does push it all by default to the Prismic reposit

[2021-06-13 13:09] ReeceM commented on #75
Not sure if this should be a new issue.

When adding custom previews for version `0.1.0-alpha.5`, the upload fails with the error `Error: ENOENT: no such file or directory, copyfile`

I found that the directory it is looking for is under the root `./slices/[SliceName]/default-slice/preview.png`. The default slice folder isn't there in any of the new slices made, but is in the `.slicemachine/assets

[2021-06-13 16:10] lihbr commented on #75
@hypervillain ^

[2021-06-14 10:52] phillysnow commented on #124
We spotted this one too and @hypervillain has implemented the fix already :)

[2021-06-14 12:32] devmnj commented on #25
`<template>
  <div class="container">
    <div>
      {{page}}

      <slice-zone type="{home}" :slices="page.data.body1" />

      <Logo />
      <h1 class="title">prismic-p1</h1>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"

          Documentation
        </a>
        <a

[2021-06-15 09:52] hypervillain commented on #25
Please create a new issue @manojap

[2021-06-15 09:57] hypervillain commented on #128
Yeah, Storybook is required to be installed at the moment. It should not, i agree. To get around this specific issue, create a `.storybook/main.js` file and just write `getStoriesPaths` there. It's the string we look for when generating the env.

@Duaner wdyt?

[2021-06-15 10:06] hypervillain commented on #89
The create-slice command is now part of the local builder and it does handle naming components:
https://github.com/prismicio/slice-machine/blob/with-custom-types/packages/slice-machine/templates/slice/next/index.js#L4

As Alex said, thanks a lot for taking the time to read the project @ReeceM, it's much appreciated

[2021-06-15 10:06] #89 closed, assigned to nobody

[2021-06-15 10:35] jiro-farah-cko opened #129 "Prismic CLI logs out from account and requires login to be able to push slices"
### Version

- Prismic CLI version  3.8.13

macOS Catalina

### Reproduction

After login using the `prismic-cli`, a few hours later the login session expires and it requires to log back in to be able to push slices

### What is expected?

Prismic account authentication for the CLI needs to be maintained and not expire quickly

### What is actually happening?
A 403 status would be thrown when tryi

[2021-06-15 10:46] ReeceM commented on #128
In the end I did create that file after looking at the template repositories to find the file to create, after that it did work. I hadn't fully installed storybook either.

At that point then the new 'You've upgraded' page shows that informs you the new `.slicemachine` directory has been migrated to match the latest version. Then the second thing suggested is to add the below to `.storybook/main.j

[2021-06-15 11:02] ReeceM commented on #128
Okay, on the above, its the function `LacksStorybookConf` in `slice-machine-ui/components/UnrecoverableErrors/index.js`

[2021-06-15 11:43] ReeceM commented on #128
I was thinking that this might solve the problem of both the new format not being present and also the missing directory if it isn't added yet.

One option could be the one below:
[code]

Or because it's TypeScript:
[code]

The latter might be just better to take advantage of the language ? This way the error page shows when the storybook directory is misconfigured or not setup in the `main.js` fi

[2021-06-16 14:49] ReeceM opened #130 "Create Slice in SliceMachine UI doesn't behave the same as the CLI create-slice command"
### Version

- Prismic CLI version (know it by running `prismic --version`): `prismic-cli/4.0.1-alpha.10`
- slice-machine-ui: `^0.1.0-alpha.5`

### Reproduction

- run `yarn slicemachine` to open the builder
- create a new slice called `BuilderSlice`
- It should save it to the file system

- Then open the terminal and run `prismic sm --create-slice`
- Leave the default slice folder `slices`
- Set

[2021-06-16 15:23] lihbr commented on #130
Hey, thank you so much for the clear report @ReeceM! @hypervillain I think you already noticed it, let us know about updates!

[2021-06-16 15:37] hypervillain commented on #130
The `slices/index.js` file will be updated after each slice update in the upcoming builder

[2021-06-16 17:13] ReeceM commented on #130
Thank you @lihbr and @hypervillain for the updates and that it was being fixed 👍

I will keep an eye out for the update then 💯

[2021-06-17 15:44] asotog opened #131 "NextJS 11 : useGetStaticProps and useGetStaticPaths not compatible with latest linting rules"
### Version

prismic-cli: 3.8.13

### Reproduction

create a nextjs site and try to use prismic hooks on any page https://prismic.io/docs/technologies/technical-reference-next-slicezone-nextjs  like
[code]

### What is expected?

Linting should not complain

### What is actually happening?

Linting is complaining, because a hook is used outside of a component

[2021-06-21 09:22] shainegordon opened #132 "Custom Type that defines slices that arent saved to library are not synced to local correctly"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.13
- slice-machine-ui version (know it by running `prismic --version`): 0.1.0-alpha.6

### Reproduction

In <repo>.prisimic.io create a new "Single Type" called "Menu", and configure it with the following JSON, and then "Save"

[code]

Open "Slice Machine" - `prismic sm --develop` - and visit http://localhost:9999/

G

[2021-06-22 19:44] zalanlevai opened #134 "[slice-machine-ui@0.1.0-alpha.6]: Released package is way too large (over 100 MiB in size)"
### Version

- Prismic CLI version: `prismic-cli/4.0.1-alpha.10 wsl-x64 node-v16.3.0`
- SliceMachine version: `slice-machine-ui@0.1.0-alpha.6`

### Reproduction

#### yarn

Add `slice-machine-ui@0.1.0-alpha.6` to a bare yarn 2 package:
[code]

Inspect package size in `.yarn/cache`:
[code]

#### npm

Add `slice-machine-ui@0.1.0-alpha.6` to a bare npm package:
[code]

Inspect package size in `node_m

[2021-06-24 13:28] #22 closed, assigned to nobody

[2021-06-24 13:54] lihbr commented on #134
Hey @zalanlevai, thanks for the detailed report, we will investigate! I'm also quite excited about the work moving forward on our other kits ☺️

@hypervillain I started a bit and looks like already `./build/client` doesn't need to be shipped, already shaving 393 MB out of the 461 MB it takes on my disk, last big bite remaining being the `./out` directory (55.7 MB on my disk) I'm not sure what we c

[2021-06-24 14:51] ReeceM commented on #134
I have been watching my node_modules folder and also found the final size is quite large, for the alphas the `node_modules` folder is 900MB+ (puppeteer only 339MB of that, which is understandable)

But having more than 4 or 5 slice-machine projects gets a bit odd, haven't tried using `pnpm` though

The build client cache files have a bunch of faker data (one file is 15MB) in there for all the lang

[2021-06-24 15:41] hypervillain commented on #134
Good catch, we introduced a wrong build step when moving to TypeScript.
This should be better-ish https://www.npmjs.com/package/slice-machine-ui/v/0.1.0-alpha.9

[2021-06-24 15:43] hypervillain commented on #132
Hey @shainegordon, the local builder currently does not handle non shared slices. I'm adding this to our backlog, we'll start working on this as soon as 0.1 is released

[2021-06-25 09:38] lihbr commented on #131
Hey @asotog, thanks for reporting that to us!

We're planning to rework the Next integration with Prismic, not using those Prismic hooks anymore, more info about that here: https://github.com/prismicio/prismic-next/issues/1 (and more than happy to discuss our plans with you there!)

I don't think (except further notice), that we will change that naming for the current kit (and it would introduce a

[2021-06-25 09:38] #131 closed, assigned to nobody

[2021-06-26 17:20] ReeceM commented on #134
I can confirm the size is now `16.7MB` for `slice-machine-ui` for myself and the size of the modules file is total of `496MB`, a lot has been trimmed off 🎉

Thought I might share that

[2021-06-26 21:11] ReeceM commented on #128
Resolved in latest alpha 👍

[2021-06-26 21:11] #128 closed, assigned to nobody

[2021-06-27 19:05] zalanlevai commented on #134
After a simple dependency upgrade, I can also confirm the huge size reduction with `slice-machine-ui@0.1.0-alpha.9` and that SliceMachine still works as before.

![image](https://user-images.githubusercontent.com/12102131/123556204-21f38c00-d78a-11eb-9f26-cb39777e0a9d.png)

As far as we are concerned, the issue can be closed now. 😊 Feel free to reopen if there are any other obvious improvements th

[2021-06-27 19:05] #134 closed, assigned to nobody

[2021-06-29 13:48] shainegordon commented on #132
Great, we will definitely work around this by using a shared slice

[2021-07-06 20:25] ReeceM commented on #130
appears to be fixed in the alpha releases of both the cli and SM-UI.

Also was going to add the other issue of the two commands producing different storybook results but https://github.com/prismicio/prismic-cli/pull/101 fixes that it appears 👍

[2021-07-06 20:25] #130 closed, assigned to nobody

[2021-07-07 07:33] lihbr commented on #130
Thanks for the update @ReeceM! ♥

[2021-07-07 10:28] amosbastian opened #138 "Slice machine stops working when converting generated files to .ts(x)"
### Version

[code]

### Reproduction

1. Generate a slice
2. Rename `.js(x)` files to `.ts(x)`
3. It works until you stop slice machine and run it again:
[code]

### What is expected?

I want to use TypeScript so I want to be able to rename `js(x)` files to `ts(x)` without a problem.

### What is actually happening?

It works fine until restarting slice machine, then it won't load the slices anym

[2021-07-07 11:29] lihbr commented on #138
Hey, thanks for the report @amosbastian!

@hypervillain 👀

[2021-07-08 00:31] a-trost commented on #124
@phillysnow do we know if this issue can be closed? Do we know what the commit was for this @hypervillain ?

[2021-07-08 07:35] ReeceM commented on #124
@a-trost 93ae9dd1e259a16d642117dccc0ef03704aee39b 0.1.0-alpha.6 :) and alpha.10 removed the radio buttons 🤣

[2021-07-08 07:38] #124 closed, assigned to nobody

[2021-07-12 15:08] christianrybe commented on #8
@lihbr how is Slice Machine UI fixing this, sorry? 🙂 I can't find a way to `pull` changes from the UI to my local repo. How do I grab a slice that my teammate has created and pushed to Prismic?

[2021-07-12 15:15] lihbr commented on #8
Hey @rybarczykchris, nice question!

Basically, now that the code is the source of truth with Slice Machine there's by design no need to pull changes from Prismic, because Prismic isn't a source of truth anymore (for the custom type part).

In order to get changes from teammates and to collaborate with them we now expect that workflow to go through git, that is to say committing your custom type c

[2021-07-12 15:26] christianrybe commented on #8
Thanks for your swift repy @lihbr ! It makes a ton of sense and is super cool, great design! 😄 Just to be clear though I can't sync custom types as of now, can I? I can't see a place to define custom types in the slice machine UI and I've also stumbled upon this: https://github.com/prismicio/slice-machine/issues/91

[2021-07-12 16:28] lihbr commented on #8
Right! Latest version of Slice Machine (0.0.46) doesn't include the custom type part of it. We're about to release a new version that includes this part, allowing all the modeling to be performed locally. It's already available as version 0.1.0-beta.1, upgrading _should_ be smooth but bear in mind it's still a beta 🙂

[2021-07-13 12:43] amosbastian opened #142 "Generated sm-resolver.js does not work properly with custom location of slices library"
### Versions

- slice-machine-ui: 0.1.0-alpha.13
- node: v14.16.1

### Steps to reproduce

* Run `prismic sm --create-slice`
* Select non-default folder (e.g. `src/slices`) (btw it should give me an option to select my custom location instead of having to type it each time)
* Generated `sm-resolver.js` tries to import slices like this: `import * as Src/slices from './src/slices'`

### What is expe

[2021-07-13 14:44] christianrybe opened #143 "Storybook fails to load with slice-machine-ui 0.1.0-beta.1"
### Versions

- slice-machine-ui: 0.1.0-beta.1
- node: v14.15.3

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

Here is my `package.json` file

[code]
</details>

### Steps to reproduce

1. Initialise a repo with prismic with `prismic sm --setup`
2. Update `slice-machine-ui` dependency to use 0.1.0-beta.1
3. Run slice machine and storybook
4. Go to storybook at localh

[2021-07-16 20:32] a-trost commented on #143
Hey @rybarczykchris ! Sorry you're hitting this issue, I think I faced something similar and upgrading storybook fixed it for me.

Specifically I upgraded to
[code]

[2021-07-19 05:35] christianrybe commented on #143
Thanks @a-trost ! Good call! 🙂 `6.2.9` did the trick, although previously I had a later version `6.3.4` and I did not work... 🤔

[2021-07-19 05:35] christianrybe commented on #138
Interestingly this seems not to be an issue for me with slice-machine `0.1.0-beta.1`

[2021-07-20 01:37] jamsch commented on #72
Yep, you'd want to do something like the following for the time being
[code]

Also, to avoid the eslint error `react-hooks/rules-of-hooks` you'd want to alias the "useXXX" exports

[code]

[2021-07-22 10:10] amosbastian commented on #75
It would be great if you could decide the width of the generated screenshots, as for me they are taken at the breakpoint of a tablet / small laptop, while I'd rather the screenshot show the desktop preview.

[2021-07-27 08:54] lihbr commented on #142
Thanks for the report @amosbastian and sorry for the delay!

@hypervillain can you have a look?

[2021-07-27 10:32] amosbastian commented on #138
I'm using `slice-machne-ui` version `^0.1.0-alpha.13` just fyi. It would be great to just have an option to use TypeScript as well.

[2021-07-27 10:51] lihbr commented on #138
Hey @amosbastian, I need to check on our side, it appears version `0.1.0-beta.1` is the most up-to-date pre-release of `slice-machine-ui`.

Can you confirm the issue on that version? Let us know if anything!

[2021-07-27 12:00] hypervillain commented on #138
The issue will still be there on beta. I'll take a look this week @amosbastian thanks for reporting this

[2021-07-28 10:44] amosbastian opened #147 "Add ability to change viewport for generated Storybook screenshots"
### Is your feature request related to a problem? Please describe.

I want the generated screenshots to use a different viewport. I have a breakpoint set at 1280px, while the viewport used to generate the screenshots is [hardcoded to 1200px](https://github.com/prismicio/slice-machine/blob/ff1a330dcbeb7f3eb5300a0bd30f0d8fc4772861/packages/slice-machine/server/api/common/utils.js#L14-L17), so it gen

[2021-07-30 16:20] kb1995 commented on #121
Just wanted to flag that I'm getting this error when I try to run `yarn run storybook`

[code]

I'm running the latest versions of all libraries

[2021-08-02 08:55] hypervillain commented on #142
We're on it

[2021-08-02 09:13] #143 closed, assigned to nobody

[2021-08-02 09:18] #64 closed, assigned to nobody

[2021-08-03 14:48] MoodyBones opened #148 "Setup on Nuxt fails when adding Storybook. Error in No files matching `..nuxt-storybook/storybook/generated-stories-entry.js`"
### Versions
- macOS Catalina: 10.15.7
- node: 14.16.1
- npm: 6.14.12
- "slice-machine-ui": "beta"
-  "@nuxtjs/prismic": "^1.2.6"
- "@prismicio/vue": "^2.0.11"
- "nuxt-sm": "^0.0.6"
- "vue-essential-slices": "^0.3.0"
- "vue-slicezone": "^0.0.30"
- "@storybook/vue": "6.1.21"
- "vue-loader": "15.9.6"
- "@nuxtjs/storybook": "3.3.1"

### Reproduction
Project on Azure DevOps - I can provide a zip priva

[2021-08-05 08:46] lihbr commented on #148
Hey @MoodyBones, thanks for the comprehensive issue and your excitement for Slice Machine!

This looks like an issue at Nuxt Storybook level, we should try to get Storybook up and running first here:
1. Can you try updating it to version 4? (apparently it's still running version 3 on your details)
2. If still not working can you try removing the stories in your `nuxt.config.js` file (at `storybook

[2021-08-05 16:38] hypervillain commented on #121
Can you try to upgrade next-slicezone? (0.1.2)

[2021-08-05 16:40] hypervillain commented on #138
Hey @amosbastian can you upgrade to slice-machine-ui@0.1.0-beta.2 ?
We spotted the issue and it should be fixed now. Thanks for your patience!
Feel free to re-open

[2021-08-05 16:40] #138 closed, assigned to nobody

[2021-08-05 17:32] hypervillain commented on #142
The should be fixed with the latest version of next-slicezone. Thanks for reaching out!

[2021-08-05 17:32] #142 closed, assigned to nobody

[2021-08-06 12:03] kb1995 commented on #121
@hypervillain Working in 0.1.2 - thanks!

[2021-08-09 08:23] #121 closed, assigned to nobody

[2021-08-10 15:34] MoodyBones commented on #148
Heya Lucie, thanks so much for your response and suggestions :) 👏

I had another try today:
1. I updated nuxt/storybook.
  - Note `prismic sm --add-storybook` adds versions`3.3.1`, it also rolled back my updated version.
  - I managed to update it again using `npm i @nuxtjs/storybook@4.1.1`
![Screen Shot 2021-08-10 at 16 30 13](https://user-images.githubusercontent.com/47255988/128889460-91bb4ba4-

[2021-09-29 13:30] hypervillain commented on #75
I agree. It should also be desktop by default. For now, we can add a configuration object in sm.json and see later if something more complete can be implemented

[2021-10-04 14:34] samuelhorn opened #184 "Something wrong with storybook helper in slice-machine-ui"
### Versions
- slice-machine-ui: v0.1.0
- node: v16.10.0

### Reproduction
Only tested locally so there's no link for reproduction right now.

### Steps to reproduce
- Start a new Nuxt project as the documentation states
- Get storybook to work by importing the helper:
`import { getStoriesPaths } from 'slice-machine-ui/helpers/storybook'`
- Use the helper for the Storybook config:
[code]

### What

[2021-10-05 12:04] samuelhorn commented on #184
Ok, so I found the issue. The `slice-machine-ui/helpers/storybook.js` has been updated to:

[code]

If I skip using `const { getStoriesPaths } = require('slice-machine-ui/helpers/storybook')` in nuxt.config.js, and replace this with the old helper:

[code]

Then everything works again.
Tell me if I should make a pull req. replacing the helper with the old version, or if you want to do something el

[2021-10-05 13:05] lihbr commented on #184
Thank you so much @samuelhorn 🙏

@hypervillain

[2021-10-05 13:27] samuelhorn commented on #184
@hypervillain tell me if you want me to try with different node versions or anything else.
Was also thinking this could be a PC/MAC issue as well, since it has to do with the filesystem in some way, IDK if you're on PC or MAC? Im doing this on MAC.

[2021-10-05 13:44] samuelhorn commented on #184
Ok, found this one has a duplicate on the [forums](https://community.prismic.io/t/slicemahine-latest-update-breaking-nuxt/7287/2).

Maybe this should be closed then!

[2021-10-26 15:56] beqramo commented on #72
any fix? that library needs type declaration file

[2021-11-05 11:09] lihbr opened #216 "`slice-machine-ui` relies on `node-fetch` but doesn't declare it as a dependency, causing dependencies mismatch"
### Versions

- slice-machine-ui: v0.1.1 & v0.1.0
- node: 16.6.0

### What is going on

Currently `slice-machine-ui` [doesn't declare `node-fetch` as a dependency](https://github.com/prismicio/slice-machine/blob/master/packages/slice-machine/package.json#L106) but [relies on it](https://github.com/prismicio/slice-machine/blob/master/packages/slice-machine/start/index.js#L25).

`node-fetch` being a

[2021-11-11 12:33] happylinks opened #222 "slice-machine doesn't allow snake_case api ID, GraphQL api hides camelCase."
### Versions

- slice-machine-ui: 0.1.0
- node: 16.13.0

### Reproduction

![image](https://user-images.githubusercontent.com/184774/141298477-14824eca-159f-483d-8690-432f1b8971e1.png)
Adding snake_case api ID's gives the error that you can't use special characters.
However, there's still an issue with the GraphQL api that hides camelCase attributes: https://community.prismic.io/t/camelcase-named-

[2021-11-18 13:27] VilliGunn commented on #222
Just to add to this. When creating custom types in Prismic the default value generated in the `API ID*` is a snake_case value, so there is an inconsistency there.

![Screenshot 2021-11-18 at 13 23 01](https://user-images.githubusercontent.com/17431581/142423410-12f62b84-810d-4298-8df0-2400b1b8485c.jpg)

I have opened a pull request that allows snake_case values when creating Field Ids since this o

[2021-11-18 15:51] samuelhorn opened #226 "importing SliceZone in Nuxt does not work (Cannot use import statement outside a module)"
### Versions
- slice-machine-ui: 0.1.1
- node: 16.11.1

### Reproduction
Unfortunately this is only in local dev for now. But tell me if I could help in any way.

<details open>
<summary>Additional Details</summary>
<br>
Versions from package.json:
<pre>
...
  "dependencies": {
    "@nuxtjs/prismic": "^1.3.2",
    "@nuxtjs/sitemap": "^2.4.0",
    "@nuxtjs/svg": "^0.2.0",
    "@storybook/addon-acti

[2021-11-19 14:34] #226 closed, assigned to nobody

[2021-12-03 09:17] samuelhorn opened #248 "Slicemachine process error when saving model to filesystem"
### Versions

- slice-machine-ui: 0.1.2
- node: 16.13.0

### Reproduction
Only local for now

<details open>
<summary>Additional Details</summary>
<br>
<b>Storybook related modules</b>
<pre>
...
"@nuxtjs/storybook": "^4.2.0",
"@storybook/addon-actions": "^6.4.4",
"@storybook/vue": "^6.3.12",
...
</pre>
</details>

### Steps to reproduce
1. Install slice machine in new Nuxt project as described [he

[2021-12-06 10:26] eveningforgery opened #251 "Change default config for links and add UI for easy configuration"
### Is your feature request related to a problem? Please describe.
When adding a new link, the generated json found in `model.json` is:
[code]
This is quite annoying having to change manually the select property from `"web"` to `null` every time you want to leave the option to the end user to select whatever they want, internal, web or media, which is most of the time.

Currently, there is no way

[2021-12-12 21:51] octavioamu commented on #226
having this same error but with vue-essential-slices was you able to fix it @samuelhorn ?

[2021-12-13 09:50] samuelhorn commented on #226
@octavioamu Sorry, I think it was some kind of error on my end, thats why I closed it.
Removed the project and started from scratch solved it for me.

I guess it was some kind of version missmatch somewhere.

[2021-12-17 17:00] greatwitenorth opened #277 "Guide on how to contribute and get started"
### Is your feature request related to a problem? Please describe.
I would like to start contributing to the project (specifically the Gatsby work). I've cloned the repository and done `yarn` and `yarn run build` but I'm met with a lot of errors and failed tests (on master branch), the first being:
[code]

Not too sure where to go from here.

### Describe the solution you'd like
It'd be great to h

[2021-12-17 17:02] ReeceM commented on #277
Hey @greatwitenorth

not sure if you have tried but from my experience a lot of the newer features are usually on different branches and not the `master/main` branch.

For the SMUI part, that worked doing that.

[2021-12-17 22:14] greatwitenorth commented on #277
@ReeceM Thanks for the reply. I did try the aa/gatsby branch, but still saw the same error messages. I'm not sure if it's something to do with my local setup. Seems like Jest isn't able to process the typescript files maybe? I don't have a ton of experience with javascript package development. So I was just hoping there would be a step-by-step to get you started with building the project (without

[2022-01-11 15:15] MarcMcIntosh commented on #277
hi @greatwitenorth it looks like you're trying to build the core?

setup and install everything with (we version our upstream branches)
[code]

From there it really depends on what you want to do, if you want to build the project but usually the core will need to be built first. so `cd packages/core && npm run build`

[2022-01-16 12:08] jankohlbach commented on #148
cannot get it working either :/ any updates on this?

edit:
well, I made [this](https://prismic.io/docs/technologies/setup-a-prismic-project-nuxtjs#3.-add-settings-to-nuxt.config.js) step but then ```prismic sm --add-storybook``` overwrites it again, looks like that's breaking things
I changed it back to the example code from the link and it worked
but now I have that error as well: https://commun

[2022-01-16 13:39] jankohlbach commented on #148
okay, got it running, gonna leave my insights here, probably for my future self 😅

1. follow this: [https://prismic.io/docs/technologies/setup-a-prismic-project-nuxtjs](https://prismic.io/docs/technologies/setup-a-prismic-project-nuxtjs), it works perfectly fine until step 3
2. in [step 3](https://prismic.io/docs/technologies/setup-a-prismic-project-nuxtjs), paste the code, except following lines

[2022-01-16 19:28] lihbr commented on #148
Hey there, I'm really sorry for the lack of support we were able to provide here.

However, I'm glad you got it working @jankohlbach!

In the really near future (like the end of the current sprint), Slice Machine will move away from Storybook for another technology that has proved much simpler to use, setup, and integrate. This will hopefully solve that kind of issue for good while also providing

[2022-01-16 19:35] jankohlbach commented on #148
interesting, excited for what you've decided, really like the approach with slice machine

[2022-01-21 15:00] Jamesford commented on #248
Hi @samuelhorn I was having the same issue, but using Next rather than Nuxt. Are you using an M1 Macbook? I discovered [this thread](https://github.com/puppeteer/puppeteer/issues/6622#issuecomment-787912758) and found manually setting the `PUPPETEER_EXECUTABLE_PATH` resolved the process crashing for me.

Here's my updated `slicemachine` npm script.
[code]

[2022-01-22 18:40] Choem opened #311 "Updating slices doesn't work via slice-machine-ui"
### Versions

- slice-machine-ui: v0.1.2
- node: v16.13.2 (LTS)
- macOS Monterey v12.0.1

### Reproduction
Locally

### Steps to reproduce
To reproduce follow [the tutorial](https://prismic.io/docs/technologies/nextjs) to setup a new project with NextJS and Prismic.
After this I have everything up and running locally. The NextJS app, the slicemachine and the storybook.

So I wanted to create my fi

[2022-01-25 17:50] LouieRichardson99 opened #321 "Slicemachine error when trying to run after installing to latest version (0.2.0) using `yarn upgrade -D slice-machine-ui` command"
### Versions

- slice-machine-ui: 0.2.0
- node: 16.13.0

### Reproduction

Updating `slice-machine-ui` to latest version (0.2.0) via `yarn upgrade -D slice-machine-ui` command results in an error when trying to run `yarn start-slicemachine`.

Project is using Nuxt/Bridge with Prismic Slicemachines.

<details open>
<summary>Additional Details</summary>
<br>
Error message:

`const frameworkEntry = O

[2022-01-26 18:28] danspratling commented on #321
We've just run into this exact same issue on a react (nextjs) project, but can't downgrade to 0.1.2 because the popup telling you to upgrade is disruptive and blocks you from making progress and comes back really quickly once clicked.

[2022-01-26 23:50] ryuawata commented on #148
@lihbr Would you possibly have an ETA for the current sprint? Thanks!

[2022-01-26 23:57] lihbr commented on #148
Sure! Slice Machine 0.2.0 was actually released yesterday: https://prismic.io/blog/improve-developer-experience-slice-machine

Let us know how the upgrade goes :relaxed:

[2022-01-28 02:24] LeslieBlacktop commented on #321
Any news about the issue? I'm experiencing the same problem, even a trick to hide the pop-up can help in the meantime. Thanks!

[2022-01-28 22:59] angeloashmore opened #331 "RFC: Add Gatsby support to Slice Machine"
# Overview

This RFC describes how [Gatsby](https://www.gatsbyjs.com/) support could be added to Slice Machine.

Gatsby’s focus on static site generation and its internal GraphQL API presents challenges that do not exist in Next.js and Nuxt.

### What and/or who is affected by this RFC?

- All Prismic users who use Gatsby to build websites
- The Slice Machine development team

### Why is this bein

[2022-01-29 20:11] Elaxitives commented on #321
Exactly the same for us!

[2022-02-01 09:01] psoaresbj commented on #321
We've bumped into this as well (Nextjs project)...
We're stuck with slicemachine and in need to change slice variations.
Can't downgrade neither.

[2022-02-01 09:47] MarcMcIntosh commented on #321
Hi @LouieRichardson99  @Elaxitives  @psoaresbj can you run `npm ls @slicemachine/core` and tell me the version of the core that is installed?

[2022-02-01 10:05] MarcMcIntosh commented on #321
Chances are that some of slice-machine's deps have to be updated.

The easiest way I can think of to do this is to remove the node_modules directory and reinstall them so that the most recent version of `@slicemachine/core` is dowloaded.

`rm -rf node_modules && yarn`

Then run `npm ls @slicemachine/core` and v1.1.0 should be installed :)

[2022-02-01 13:09] MarcMcIntosh commented on #23
@lihbr is this still an issue?

[2022-02-01 13:30] lihbr commented on #23
I guess, not sure it's necessary to support it though, Nuxt config should be mjs

[2022-02-01 21:08] psoaresbj commented on #321
@MarcMcIntosh

Before and after node_modules reinstall, I've:
[code]

Still getting the same error :(

[2022-02-01 21:17] psoaresbj commented on #321
Found a fix...
Just bumped the `slice-machine-ui` manually to `0.2.0` 🤷

[2022-02-02 11:14] EddyVinck opened #338 "Removed `getStoriesPaths` in slice-machine-ui 0.2.0"
### Versions

- @prismicio/client: ^6.0.0,
- @prismicio/helpers: ^2.0.0,
- @prismicio/react: ^2.0.3
- next: 12.0.3
- slice-machine-ui: 0.2.0
- node: 16.13.0

### Reproduction

Update to slice-machine-ui 0.2.0 on an existing project

### Steps to reproduce

### What is expected?

`getStoriesPaths` should be available

[code]

The documentation still has this line: https://prismic.io/docs/technologi

[2022-02-05 20:42] danielphilipjohnson opened #341 "Overwrote a slice without a warning"
### Versions

- slice-machine-ui: 0.2.0
- node: 14.17.2
- nuxt: 2.15.8,
- nuxt-sm: 0.1.0"

### Reproduction
Create a slice with the same name

### Steps to reproduce

Create a slice called MySlice and add some fields. Then create the same slice again.

### What is expected?
To receive some warning that I'm about to overwrite my changes or do I want to continue.

### What is actually happening?

I

[2022-02-09 20:13] EddyVinck opened #353 "Please only show the new version modal when starting slicemachine"
### Is your feature request related to a problem? Please describe.

When I'm not ready to update Slicemachine at any moment there is an update available, I get shown the modal when I'm running my Slicemachine UI locally every time I change pages.

### Describe the solution you'd like

Only show the update modal when starting the Slicemachine UI locally. Do not show it every time /api/state is call

[2022-02-10 05:56] EddyVinck commented on #338
Last night I managed to upgrade to Slicemachine 0.2.0 with the [slice simulator](https://prismic.io/docs/technologies/setup-slice-simulator-nextjs).

I wish we didn't have to install `next-slicezone` and `prismic-reactjs` to use the slice simulator since these are old packages, but anyway I copied the `getStoriesPaths` from the `slice-machine-ui@0.1.2` source so I could keep using storybook.

[cod

[2022-02-10 15:57] jackpordi opened #355 "Generate TypeScript types from slice schemas"
### Is your feature request related to a problem? Please describe.

As a typescript developer, I'd like slices (and custom types/documents) to be fully typed.

### Describe the solution you'd like

It would certainly be nice if slice-machine could generate TypeScript types for us automatically. I don't think this is particularly hard, as slice machine is already generating a `model.json` with all

[2022-02-10 18:04] EddyVinck commented on #355
I've thought about this as well. I currently don't have the time to work on it though, but it would be nice!

[2022-02-18 15:16] HuyAms opened #366 "Script to regenerate model files"
Hi, I am using  Storybook with Prismic. When I create a new slice, I notice that the stories file is automatically generated. However, if I accidentally delete it, It does not re-generate the file.

I have to pretend to change something to my slice to have the button `Save model to filesystem` enable. After clicking on that button, I got the stories file generated again.

Also, the mock data is ge

[2022-02-21 23:55] MarcMcIntosh commented on #353
Should be fixed in v0.2.1 :)

[2022-02-26 10:04] EddyVinck commented on #353
Yeah I noticed, closing this now @MarcMcIntosh

For reference: https://github.com/prismicio/slice-machine/releases/tag/slice-machine-ui%400.2.1

[2022-02-26 10:04] #353 closed, assigned to nobody

[2022-02-27 00:22] IsaiahByDayah commented on #338
Thanks for this! Will update so I can continue using Storybook.

Being already set up (and liking) Storybook, have you found any benefit to the new Slice Simulator?

[2022-02-28 15:00] lihbr commented on #33
Confirmed bug on Nuxt end, related PR: https://github.com/nuxt/nuxt.js/pull/9530

Status: likely won't be merged, Nuxt effort is moving to Nuxt 3, therefore closing this issue.

[2022-02-28 15:00] #33 closed, assigned to nobody

[2022-03-01 14:24] Miniplop commented on #338
Hello @EddyVinck, thank you for reporting this.

We put back the function in the version 0.3.0 : https://github.com/prismicio/slice-machine/pull/387.

Also as we want to focus the slice machine ui package on being a local app and not becoming a toolbox, we flagged this function as deprecated.

This function will be removed on futur releases. For the moment we don't where this function will be, pro

[2022-03-04 14:52] EddyVinck commented on #338
Thanks @Miniplop 🎉

[2022-03-04 14:52] #338 closed, assigned to nobody

[2022-03-04 18:05] itsjoekent opened #396 "Disable index file generation in manifest"
### Is your feature request related to a problem? Please describe.

Slice Machine autogenerates and outputs an index file that doesn't conform to our application requirements.

### Describe the solution you'd like

It would be great if we could write `outputIndex: false` in our `sm.json` manifest file and disable the auto-generation of the `index.ts` file.

[2022-03-05 17:31] pentatiby opened #397 "`slice-machine-ui v0.2.1` does not support/removes slice zone labels from custom types"
### Versions

- slice-machine-ui: `v0.2.1`
- node: `v14.19.0`

### Steps to reproduce
- run the same versions as above
- create a new custom type folder, I called mine `testtype`
- paste [the JSON from this test](https://github.com/prismicio/slice-machine/blob/v0.2.1/packages/slice-machine/tests/project/customtypes/withslicezones/index.json) in `index.json` for this new custom type
- open `http://

[2022-03-07 11:11] phillysnow commented on #397
Hey @pentatiby,

Slice Labels are not supported in Slice Machine and have been replaced by Slice Variations. You can add a variation in the Slice Machine UI, it serves the same purpose with much more power.

We discuss. use cases for variations and best practices here:
https://community.prismic.io/t/recommended-use-cases-for-slice-variations/8809

Reach out to us on the forum for fast responses fr

[2022-03-08 14:19] #397 closed, assigned to nobody

[2022-03-08 22:00] jasonmit opened #402 "faker as a dependency"
Based on a quick grep of the codebase, `faker` is only used as a `devDependency` but is marked as a [`dependency`](https://github.com/prismicio/slice-machine/blob/453613bba838389299c607763e12db8344bf06f7/packages/slice-machine/package.json#L64) which means consumers of `slice-machine-ui` end up installing faker as part of their yarn / npm install (which is a sizable project).

If it is used, would

[2022-03-16 15:07] Miniplop commented on #402
Hello thank you for reporting this,

We will make a complete checkup of the SM dependencies on the release 0.3.4 to 1) Avoid installing extra dependencies 2) remove some unused dependencies.

I will keep you update

[2022-03-16 15:17] comeprismic commented on #366
@HuyAms thanks for your request. We are at the moment investing time and efforts into understanding how users use mock data and trying to improve the way these data can be edited/saved.
We'll keep you updated. By chance, would you be available to help us doing this doing a few interviews?
Let me know and I'll contact you! Thanks

[2022-03-16 15:19] comeprismic commented on #341
Hi! Thanks for reaching out! We are aware of this issue and we will come up with a fix in the coming releases. We'll keep you up to date.

[2022-03-16 15:22] comeprismic commented on #321
Hi all. Just updating this issue as a solution has been found.

[2022-03-16 15:22] #321 closed, assigned to nobody

[2022-03-17 08:57] itzaks opened #417 "SliceLike missing type declarations"
### Versions

- "@prismicio/vue": "^3.0.0-beta.5"
- "@nuxtjs/prismic": "^3.0.0-alpha.1"
- "@prismicio/slice-simulator-vue3": "^0.1.0"
- "@prismicio/types": "^0.1.27"

### The issue
When creating a vue-template in my Nuxt 3 project and trying to add a slice, I run in to some missing typescript declarations in my template.

`Property 'primary' does not exist on type 'SliceLike<string>'.ts(2339)`

Te

[2022-03-18 11:07] itzaks opened #420 "Error [ERR_REQUIRE_ESM]: require() of ES Module"
### Versions

[code]

### Reproduction

Add both dependencies as devDependencies and run `npm/yarn run slicemachine`, will yield the following error:

[code]

### Proposed solution

Use `import` instead of `require`.

[2022-03-18 11:27] itzaks commented on #420
Seems like the problem isn't in the actual cliLogs-file, but rather that `esModuleInterop` is transforming the imports into requires.

[2022-03-22 08:52] itzaks commented on #420
This seems to be an issue with slice machine rather than to have anything to do with @nuxtjs/prismic. It happens on a fresh project even without Nuxt installed. Just running:

[code]

Yields the error above.

[code]

Using the following:

[code]

I tried with npm 8.3.1 as well with no better luck.

[2022-03-23 10:59] Crevitus commented on #420
This is happening for me as well on a fresh project with NextJs.

[code]

[2022-03-29 13:07] amosbastian opened #430 "Slice simulator requires old packages"
`@prismicio/react` used to be called `prismic-reactjs`. According to your documentation, the latter is now deprecated, and we can replace it with `@prismicio/react`, which I have done. Unfortunately `slice-machine` still requires it (and `next-slicezone`, which is also deprecated I think) as a dependency to run the simulator:

<img width="484" alt="image" src="https://user-images.githubusercontent

[2022-03-30 11:58] MarcMcIntosh commented on #430
Hi @amosbastian

What is the `framework` property in the `sm.json` file? `prevoiseNext` or `next` ?

If it's `next` the more recent dependancies  should be showing up in the setup drawer.

For the simulator issues are you able to provided a stack trace or some more details?

[2022-03-30 12:53] amosbastian commented on #430
Hi @MarcMcIntosh I must have missed that we need to change the `framework` property while using the migration guide, sorry!

For the simulator issue. First of all the types don't seem to be correct as I'm getting this:

<img width="886" alt="image" src="https://user-images.githubusercontent.com/9199433/160838098-cff936a6-5601-4081-99f7-a15872c36a6d.png">

[code]

and

[code]

When visiting the pag

[2022-03-30 14:51] MarcMcIntosh commented on #430
Hi @amosbastian

Thanks for the extra info :)

For this error
[code]

Saving a slice should regenerate the `slices/index` file to the new format.

[2022-03-30 15:36] amosbastian commented on #430
It is doing so as far as I can tell. Like I said I've migrated our entire app to the new version and all the slices on other pages are working using the `SliceZone` component from `@prismic/react`

[code]

[2022-03-31 04:53] angeloashmore commented on #430
Hey @amosbastian and @MarcMcIntosh,

The `<SliceSimulator>`/`<SliceZone>` TypeScript error should be fixed with this PR: https://github.com/prismicio/slice-simulator/pull/8

Basically, the type of the `sliceZone` prop appears to be incorrect. There shouldn't be any runtime error, however.

---

The "Objects are not valid as a React child" error is likely coming from one of your Slices. `{ type, te

[2022-03-31 09:09] amosbastian commented on #430
Hey @angeloashmore it seems like certain fields that are key text are seen as rich text in the simulator 🤔 These components also work fine when using them in the app and it's only in the simulator they are giving this error, which is why I think that this is the case.

EDIT:

Here is part of the model of one of our slices where the title is key text, it works fine in the app itself, but the simula

[2022-03-31 18:52] angeloashmore commented on #430
Thanks for the info @amosbastian, it's very helpful!

The Key Text => Rich Text issue shouldn't be happening. I just tested this with the latest version (`v0.3.4`) and did not see the issue. My Key Text fields correctly contain a string in all cases.

Could you try the following?

1. Can you upgrade to the latest version,`v0.3.4`? Your original issue states you might have `v0.3.3` installed. I don

[2022-04-01 09:33] gijsbotje opened #438 "Include repeat setting for group field"
### Is your feature request related to a problem? Please describe.

I found the config settings for group fields which makes it non-repeatable here https://prismic.io/docs/core-concepts/group#json-model. Unfortunately this config settings isn't available as an option within slicemachine. When you add it manually, it will also override on the next save of the custom type within slicemachine.

### D

[2022-04-01 11:44] amosbastian commented on #430
Here is one of the components:

[code]

and here is its model:

[code]

It works fine when using the slice on a page, but the simulator throws an error. If I replace `slice.primary.title` with `prismicH.asText(slice.primary.title)` then it works in both places.

I generated a new test slice with key text, and that works fine in the simulator, so I'm a bit confused 😕

---

As I mentioned above, I'm

[2022-04-06 16:40] phillysnow commented on #396
Hi Joe,

Can you tell us more about the standards you expect in your index file?

[2022-04-06 21:24] itsjoekent commented on #396
@phillysnow I'd love to be able to code split, or support different import types (default vs named).

[2022-04-06 21:28] supryan opened #441 "Storybook Controls"
### Is your feature request related to a problem? Please describe.

Our team uses Storybook along with Prismic and our designers and collaborators love using Storybook controls to input their own data and test the components themselves.

### Describe the solution you'd like

We would like to see controls added to the stories that are automatically generated from Slice Machine. You're basically alr

[2022-04-07 02:52] Christopotamus commented on #420
Just had this issue and it turns out I had added node-fetch during a previous attempt to get something else working. Removing node-fetch fixed this issue for me, so it may be worth looking into other packages you may have installed. Other than having installed node-fetch, my project was a fresh next.js + prismic setup.

[2022-04-08 13:40] comeprismic commented on #441
Hi!

Thanks for sharing this request. We are not planning on adding any more features related to StoryBook as we focus and invest on our Slice Simulator, but if you want to contribute and make a PR we will gladly consider and review it.

[2022-04-19 10:29] webda2l commented on #402
@Miniplop Yes fixing the deps vunerabilities asap will be welcome. The high one, at least.

![image](https://user-images.githubusercontent.com/517753/163984719-0e8a8b85-68d1-4d5a-bf1b-7885644d89a3.png)

[2022-04-22 23:33] jose-uilton-ferreira opened #459 "'npx @slicemachine/init' does not work"
in Next.js setup guide

when i run the following command:
[code]
The following is returned
[code]

i am using linux mint

[2022-05-02 09:51] kb1995 opened #460 "Push all custom types at once"
Hey there,

Currently if I clone a new repo with already existing custom types inside it, I need to go through every single custom type and push it to Prismic. It would be great if:

1. There is a button to push everything to Prismic at once
2. That's done automatically when bootstrapping a fresh repo.

[2022-05-05 17:13] jeremytenjo commented on #420
Current dirty solution is to install `node-fetch` v2.6.1 - `npm i node-fetch@2.6.1`

[2022-05-09 13:54] Heyrows commented on #459
Hey @jose-uilton-ferreira.

The error
[code]
seems weird as our Init script doesn't require arguments by default.

Could you give us more information about the different commands you tried before that ?
Is the issue still happening ?
Thanks 🙏

[2022-05-10 17:37] Brewd3v commented on #420
++

[2022-05-13 09:39] jeanpierrecarvalho commented on #459
@jose-uilton-ferreira @Heyrows Upgrade your NPM version to the latest and the problem it's solved.

[2022-05-15 12:18] austinlangdon commented on #460
Our agency also needs this feature :-)

[2022-05-16 15:17] grumpyoldman-io opened #466 "'npx @slicemachine/init' does not work (caused by trackers!)"
## Please dont take this as me being ungrateful, the tool is helpful, but tracking people without consent is illegal in the EU.

When running `npx @slicemachine/init`, there is a post request to https://api.segment.io/v1/batch. This is not very ethical to do without consent (not sure if it is even legal in the EU), and it actually breaks the install when segment.io is blocked on a network (like wi

[2022-05-17 00:31] angeloashmore opened #467 "`ERR_REQUIRE_ESM` error on `start-slicemachine` due to incorrect `node-fetch` version"
### Versions

- slice-machine-ui: 0.3.7
- node: 16.15.0

### Reproduction

Run the following commands to create a reproduction.

[code]

### Steps to reproduce

Start the project created above.

[code]

### What is expected?

Slice Machine starts.

### What is actually happening?

[code]

This happens because `slice-machine-ui` does not list `node-fetch@cjs` as a dependency. It is listed in the mo

[2022-05-18 11:58] slaetthult opened #469 "TypeError: r.tabs.map is not a function"
I'm getting this error lately: TypeError: r.tabs.map is not a function.
I'm not able to edit Slices anymore.
![Bildschirmfoto 2022-05-18 um 13 55 58](https://user-images.githubusercontent.com/22275417/169033140-49b999aa-35a8-4fd3-b4fc-55dad6090b9d.png)

[2022-05-18 14:06] drewhayes commented on #420
I was having the same issue. The solution from @jeremytenjo  to install v2.6.1 worked for me.

(Using a next.js project--so the error isn't nuxt specific)

[2022-05-23 11:10] scott-the-brewer commented on #467
Running into the same issue, would be great if this got resolved

[2022-05-24 16:11] comeprismic commented on #466
Hello Marvin,
Thanks for reaching out, and sorry about our late answer.
We have just forwarded your message to our legal team that will reach out to you by email about our terms of use.
Regarding the tracking, you can indeed remove it by :

1. running the `npx @slicemachine/init` script and adding the flag `--tracking false`
2. or if you have already installed Slice Machine, adding the property `t

[2022-05-25 11:03] grumpyoldman-io commented on #466
Heya @comeprismic, I did receive an email form someone in your legal team, and they told me there might be some changes being made in the future to be more transparent about tracking (again, I understand the need for metrics) which to me feels like the best solution. Thank you for responding and taking the extra step here. Keep up the good work. I'll close the issue for now as there is a fix.

[2022-05-25 11:03] #466 closed, assigned to nobody

[2022-05-27 06:13] austinlangdon opened #474 "PAINFULLY Slow: Pushing Custom Types"
### Is your feature request related to a problem? Please describe.

Currently, our Slice Library has around ~70 unique slice variations and growing. We use a Custom Type called "Page" that has all 70 slices enabled, but the problem is that it takes ~15 minutes to fully push the Custom Type to Prismic.

The bottleneck seems to be the uploading of the 70 variation previews.

### Describe the solutio

[2022-06-17 07:52] roux1max commented on #459
Had the same issue as @jose-uilton-ferreira and upgraded NPM to the latest version.

It worked!

But shouldn't something like "minimum NPM version required" documented somewhere?

[2022-06-20 19:50] danielphilipjohnson commented on #469
What Versions were you using?

- slice-machine-ui:
- node:

is it still happening or did you manage to solve it?

[2022-06-23 11:12] bosbode opened #492 "Add uid for repeatable zone/list items"
When using repeatable zones with Nextjs, Nexjs needs a unique key for every mapped item. I can now only give it the text itself or the index number.

The problem with the index number is that it's a variable number so not unique. For instance removing items would change this number.

When using the text as a key, you must not repeat the same text. Or the key won't be unique. An uid per item would

[2022-06-27 19:35] joelcorey commented on #467
Same issue here

[2022-07-21 22:37] ghost opened #528 "auto login problem"
Hi,
I have a problem with prismic login.
When I run: $ npx @slicemachine/init

Opening browser to https://prismic.io/dashboard/cli/login?source=slice-machine
✔ Logged in as ***@gmail.com

looks all good, but it is waiting for 1-2 minutes in terminal and get an error:
Error! We failed to log you into your Prismic account

I tried 2 different account, but it has a same issue.

What can I do?

[2022-07-22 15:28] pavery007 commented on #528
@rezsodubiczki Hello, I am Patrick from Prismic.
Have you been able to verify your login via the Prismic dashboard ([https://prismic.io/dashboard/login](https://prismic.io/dashboard/login)) and access your repos? What version of Slice Machine are you running?
Please let us know if the issue is still blocking you.

[2022-07-22 18:50] ghost commented on #528
Hi @pavery007,
Dashboard login working fine, have an access for repos.
Problem is coming when I run: $ npx @slicemachine/init
I try to install slicemachine.

[2022-07-25 08:39] pavery007 opened #532 "Test issue opened from Slack using the GitHub plugin."
---
name: 🚨 Bug report
about: Report a bug report to help us improve the package.
title: ""
labels: "bug"
assignees: ""
---

### Versions

- slice-machine-ui:
- node:

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce

### What is expected?

### What is actually happening?

[2022-07-25 08:40] #532 closed, assigned to nobody

[2022-07-29 13:36] frankstallone opened #540 "Greenfield create-next-app with @slicemachine/init has set up issues"
First, slicemachine is awesome. When I started working on the web professionally many years ago we created unique sections to create efficiencies between design and development in the agency world. I have since gone through the ringer of visual builders on WordPress. This mental model works really well IMHO. Thank you for putting this all together! I did not see this issue anywhere else but feel f

[2022-07-29 15:05] frankstallone opened #541 "Greenfield create-next-app with @slicemachine/init does not create new slice libraries"
Running into some crazy bugs here. #540 was created earlier and this is another odd bug I am experiencing.

### Versions

[code]

[code]

### Reproduction

1. Create new Next.js app `npx create-next-app [unique name here] --use-npm`
2. Run `npx @slicemachine/init`and follow the prompts to complete
3. Perform fixes in #540 for setting up a new project
4. Add `"@/blog"` to `sm.json` under `libraries

[2022-07-29 15:09] frankstallone opened #542 "Greenfield create-next-app with @slicemachine/init Unable to generate screenshot for this page:"
Hot on the heels of #541 — this one is minor. Thinking I am doing something terrible wrong here somehow.

### Versions

[code]

[code]

### Reproduction

1. Create new Next.js app `npx create-next-app [unique name here] --use-npm`
2. Run `npx @slicemachine/init`and follow the prompts to complete
3. Perform fixes in #540 for setting up a new project
5. Run `npm run dev` and `npm run slicemachine`
6

[2022-07-29 15:35] ReeceM commented on #542
This is an intermittent issue for me on my end where it says it can't create a screenshot. But then after a browser refresh on SM ui it usually works.  for me I thought it's a local issue

[2022-07-29 16:23] frankstallone commented on #540
Looks like my number 2 with the package confusion has been a long running issue. I see Alex talking about it all the way back in January this year [here on this YouTube video](https://youtu.be/-c0okRzJJXQ?t=3564).

I am also realizing that `"localSliceSimulatorURL": "http://localhost:3000/slice-simulator"` doesn't happen when you run `npx @slicemachine/init` because it is [a step further down the

[2022-07-29 16:23] #540 closed, assigned to nobody

[2022-08-03 17:26] Duaner opened #547 "When Creating a new Slice Machine Project with a new Next project, the sm.json configuration is set to previousNext"
### Versions

- slice-machine-ui: 0.4.1
- node: 16

### Reproduction

After creating a new next project from scratch with create-next-app and then running slicemachine init. The sm.json default is set to PreviousNext

[code]

### Steps to reproduce

### What is expected?

To default to the latest next version

### What is actually happening?
See above

[2022-08-04 07:08] hectorgabucio commented on #528
It happened to me too. I solved going to the dashboard link, I tell a bit about myself (name, job...) and after doing that, I tried the command again and it worked.

[2022-08-04 10:26] lihbr commented on #547
Did some research, it appears this is due to this migration script still being run on new projects: https://github.com/prismicio/slice-machine/blob/HEAD/packages/slice-machine/scripts/migration/versions/0.3.0/index.ts

[2022-08-04 11:01] lihbr commented on #547
OK, after further investigation it looks like [`5fd2faa`](https://github.com/prismicio/slice-machine/pull/473/commits/5fd2faa027f1c2f251d1e85ad5114b13330ae0a8#diff-e87eaba9c5d8c8084ef8b2023d1cd2ee4020a2712471c7fcab6c0301d90c6f2b) in [`[Release Branch]: v0.4.0` #473](https://github.com/prismicio/slice-machine/pull/473) moved the install dependencies step of `@slicemachine/init` _**after**_ project

[2022-08-04 12:05] MarcMcIntosh commented on #547
Did this fix it?
https://github.com/prismicio/slice-machine/pull/546

[2022-08-04 12:39] lihbr commented on #547
Looks like it does indeed! Awesome :) (I let you close when relevant)

[2022-08-04 22:20] guillermopd opened #550 "If user tracking fails to connect, slicemachine fails and is unusable"
### Versions

- slice-machine-ui: 0.4.2
- node: 16.10.0

### Reproduction

When using DNS ad-blocking, slicemachine dies when invoked in develop mode and the page is loaded

<details open>
<summary>Additional Details</summary>
Console error:

[code]

I've  obscured the API key for segment.io -> Twilio tracking

</details>

### Steps to reproduce

Enable pi-hole, a DNS ad blocker or point api.segme

[2022-08-07 20:23] VilliGunn commented on #222
It looks like this has been fixed in #520 so this issue can be closed.

@happylinks

[2022-08-08 07:14] happylinks commented on #222
Thanks!

[2022-08-08 07:14] #222 closed, assigned to nobody

[2022-08-08 23:53] gracemiller23 opened #554 "Static Zone Fields Not Appearing In Slice Machine UI"
### Versions

- slice-machine-ui: 0.4.2
- node: v16.13.0

### Reproduction

https://user-images.githubusercontent.com/35137655/183533527-b05a1dd8-9317-4705-9c91-c6dd1f477964.mov

### Steps to reproduce
- Add a field to the static zone
- Push to Prismic
- Navigate away from Custom Type
- Return to Custom Type pane

### What is expected?
- All fields will be visible in the UI
- All fields will be sa

[2022-08-09 08:14] hypervillain commented on #554
Same problem with adding slices

[2022-08-09 14:50] Valur opened #558 "Saving custom preview screenshot no longer works without slice simulator"
### Versions

- slice-machine-ui: v0.4.2
- node: v16.13.0

### Steps to reproduce
1. Create a new slice
2. Click the "Custom screenshot" button
3. Select image

### What is expected?
preview.png image should be resized and saved in the 'default' folder for the slice like it did in previous versions

### What is actually happening?
Error about slice simulator not being set up

This seems like a reg

[2022-08-10 05:49] VarunBalakrishna commented on #558
I have a PR up for fixing this, can someone please take a look? #551

[2022-08-16 17:35] MarcMcIntosh commented on #430
@amosbastian is this still an issue?

[2022-08-16 22:40] amosbastian commented on #430
@MarcMcIntosh I think the first part was fixed, but I haven't checked if

is still an issue since we stayed on Storybook and I didn't receive an answer

[2022-08-17 16:50] lachieh opened #567 "`npx @slicemachine/init` crashes if segment.io is blocked"
I have tracking websites blocked at the network level using a DNS resolver. The `init` command makes a background request to segment.io which kills the task.

It would be great if this failed silently, but you also gave users the option to opt-out of metrics like this.

### Versions

- @slicemachine/init: 1.1.12
- node: 16.14.2

## Reproduction

### Steps to reproduce
Block segment.io at the netwo

[2022-08-17 16:56] lachieh commented on #567
Duplicate of #550

[2022-08-17 16:56] #567 closed, assigned to nobody

[2022-08-17 17:13] lachieh commented on #550
It would be good if this failed silently, but it would be better if tracking was opt-out.

[2022-08-17 17:14] ReeceM commented on #550
I think there is a note on another similar issue on disabling this when running the command as a flag. (Only remember seeing it on an email somewhere 🤷‍♂️)

[2022-08-18 13:49] lachieh commented on #550
Can't see any flags that would disable tracking in the code.

Would the @prismicio team be open to PRs? I couldn't see a `CONTRIBUTING.md` guide in any of the packages.

[2022-08-18 14:20] ReeceM commented on #550
@lachieh  https://github.com/prismicio/slice-machine/issues/466#issuecomment-1136124618

/cc @comeprismic if this is still correct?

[2022-08-18 15:01] lachieh commented on #550
@ReeceM that works! Thanks!

For posterity, the command is: `npx @slicemachine/init script --tracking false`

It would still be good to fix the underlying issue, and I'd be willing to assist with it if PRs are accepted.

[2022-08-18 17:39] greatwitenorth opened #572 "Cannot read properties of undefined (reading 'DEFAULT_BASE')"
### Versions

- slice-machine-ui: 0.4.2
- node: v16.15.0

### Reproduction

I'm trying to follow the instructions after setting up my repository for Next.js:

[code]

After running `npx @slicemachine/init --repository roadmap-slice-machine` I get the following error in my command line:

[code]

<details open>
<summary>Additional Details</summary>
<br>

**package.json**

[code]

</details>

### Ste

[2022-08-24 12:59] Heyrows commented on #547
The fix has been released, closing this.

[2022-08-24 12:59] #547 closed, assigned to nobody

[2022-08-24 15:36] Heyrows commented on #572
Hey @greatwitenorth I did the following steps:
- go to [the Prismic dashboard](https://prismic.io/dashboard)
- create a repository and select the Next Blog Starter
- Copied the command from my empty repository
[code]
- Ran the command in my terminal and got the following result.
<img width="1061" alt="image" src="https://user-images.githubusercontent.com/41187899/186460871-7f64eea8-97d6-4a7b-a55c-

[2022-08-24 22:36] Acen commented on #8
@lihbr Hoping to get clarification - but I (or a colleague) can go into Prismic & create a custom type, but then there's no way to retrieve that type into my local environment so I can keep them synced.

i.e. Prismic:
![image](https://user-images.githubusercontent.com/924120/186535587-2dcfecd3-b223-42a7-af55-46181a61aa71.png)

Slice machine:
![image](https://user-images.githubusercontent.com/92412

[2022-08-24 22:46] lihbr commented on #8
Hi there, indeed as of today there's no way to pull Custom Types from Prismic as Slice Machine now has its own Custom Type editor which is meant to be the source of truth (the online Custom Type editor is even disabled by default on new projects today)

This thread was discussing the possibility of pulling Custom Types locally before Slice Machine had its own builder. However, we're conscious that

[2022-08-24 22:48] Acen commented on #8
Oh, in that case I'll just delete the repo and start again.
Is there a way to see what version an existing repository might be sitting in?

[2022-08-24 23:21] lihbr commented on #8
I'm sorry you feel like starting over, you can still keep the same repo if you want, but move your "online" Custom Types locally by copy/pasting the JSONs. Although if you feel like starting over would be faster, that also works :)

Regarding repository version: to be clear, all repos are on the same version, as-in, there's no "need to upgrade" thing à la WordPress. However, for things that are in

[2022-08-24 23:39] ReeceM commented on #8
@Acen If you have a whole load of types or want to just pull them down locally you could probably use the a repo I made a while back when the Custom Type API was released.

It's https://github.com/reecem/custom-type-api

It works on repos that are still before slice machine as long as you make a custom type api token under the setting side.

[2022-08-25 14:05] Heyrows commented on #558
Hey @Valur thanks for reporting this issue 😄.
We made a PR based on yours @VarunBalakrishna and just updated it to the latest version, thank you for contributing 😊 🙏.
This will be available in Slice Machine's next version.

Cheers 🎉

[2022-08-25 14:09] Heyrows commented on #402
Hey @jasonmit  thanks for reporting this issue 😄.
This has been fixed in the latest Slice Machine versions so i'll close this issue. 🎉

[2022-08-25 14:09] #402 closed, assigned to nobody

[2022-08-25 14:17] Heyrows commented on #554
Hi @gracemiller23 thank you for reporting this issue 🙏.
This will be fixed in our next version v0.4.3 so stay tuned 😄.

Cheers.

[2022-08-26 14:07] greatwitenorth commented on #572
@Heyrows I did the exact same thing and I get the following:

<img width="1226" alt="Screen Shot 2022-08-26 at 9 06 18 AM" src="https://user-images.githubusercontent.com/547583/186922046-c924e898-a751-4592-bda0-4085eb17fc8f.png">

[2022-08-26 15:02] Heyrows commented on #572
hey @greatwitenorth.
It looks like a problem on compatibility between the `@slicemachine/init` and `@slicemachine/core` (a dependency).

Can you verify that one of these package isn't installed locally and try the following command to see if the problem persist. 🙏
[code]

[2022-08-26 15:31] greatwitenorth commented on #572
Thanks @Heyrows! running the following command seems to have fixed the issue:

[code]

[2022-08-26 15:39] Heyrows commented on #572
I'm glad to hear it @greatwitenorth 😊.
Did you had any packages installed globally ?

[2022-08-26 16:32] greatwitenorth commented on #572
Yes it looks like I had @slicemachine/init installed globally.

[2022-08-26 17:40] #572 closed, assigned to nobody

[2022-08-28 21:40] ReeceM opened #580 "UI layout of fields in slices has reverted to an inline layout"
### Versions

- slice-machine-ui: 0.4.3
- node: v16.10
- chrome: 103.0.5060.134, firefox: 104 (20220818191623)

<details open>
<summary>Additional Details</summary>
<br>

[code]

</details>

### Steps to reproduce

- Update to slicemachine 0.4.3
- Run the UI of slicemachine,
- create / edit a slice
- add a new field
- the layout is broken.

### What is expected?

The previous versions had the layo

[2022-08-29 13:00] webda2l commented on #558
Hi, I tried the slice-machine-ui@0.4.3-alpha.18 to fix the current issue and the upload is ok yes.
My preview.png has been well generated but only one model.json has been updated (my first slice) with the the right imageUrl, other model.json have not been updated and trying to trigger an update by another change on others slices doesn't work.
So locally it's ok I see my differents previews in http

[2022-08-29 14:20] Heyrows commented on #558
hey @webda2l.
On the latest version, screenshots are not performed on save / push, you'll have to use the buttons to take them manually.

Slices screenshot (automatic or custom) can only be taken for 1 slice at a time so i'm not sure to understand what you meant when you said `other model.json have not been updated `

[2022-08-29 15:05] webda2l commented on #558
Hi @Heyrows
So, the manual screenshot feature that was not ok with the 0.4.2, is ok with the slice-machine-ui@0.4.3-alpha.18.
I retried and understood the problem. I updated previews of multiple slices without "Push to Prismic" after each upload, and locally on the slice itself or the slice listing pages, the render is ok. But if you go back to the slice, no changes are detected and you can't "Pus

[2022-08-29 15:12] Heyrows commented on #558
Oh ok, i think i see what you mean.
Taking a screenshot is not considered as a change so you can't save the new changes and push it to Prismic.

Is that it @webda2l ?
- If yes, we'll start investigating 😄
- If no, could you post a small video of the issue thanks 🙏

[2022-08-29 15:23] webda2l commented on #558
Yes this is kind of it :)

Taking a custom screenshot doesn't have the "Save model to filesytem" step but directly the "Push to Prismic" step, and so, if you don't "Push to Prismic" right after the screenshot and do others things (like uploading a screenshot on another slice), the screenshot will be ok locally but you'll don't have this change in the "Changes" tab to push it later from it, neither

[2022-08-29 16:23] Heyrows commented on #558
That is definitely an issue 👍 .
I'll make sure it's fixed before the release.
Thank you @webda2l  for bringing it up, really appreciate it 😄.

[2022-08-29 16:26] webda2l commented on #558
You're welcome :)

[2022-09-14 13:23] StitiFatah commented on #459
Definitely, was using 14.x via nvm to fit another project's requirements and run into the issue

[2022-09-17 08:41] aynzad opened #594 "It is not possible to save an image thumb with just a width or height"
### Versions

- slice-machine-ui: 0.4.2
- node: v14.19.3

### Reproduction
using `prismicio-community/nextjs-starter-prismic-blog` as sample project

### Steps to reproduce

[code]
- Go to `http://localhost:9999/slices/Image/default`
- Click on `Edit` icon of the `Image` row
- Add a new Responsive views
- Input a name and width and left height empty
- Click on Save button

### What is expected?
to

[2022-09-20 11:54] cptflammin commented on #467
Confirming I am using node-fetch v3 which breaks while node-fetch 2.x works
As my project needs ESM version, I am stucked :)

[2022-09-20 12:28] cptflammin commented on #467
Solved with latest helpers
https://community.prismic.io/t/type-error-when-building-package-that-uses-prismicio-helpers/10938/10

[2022-09-22 10:34] chamois-d-or opened #599 "We can still create a slice that starts with a number but that creates error afterwards"
Javascript constant names cannot start with numbers. This creates an issue when slice are created with their name starting with a number.

### Versions

- slice-machine-ui: 0.4.2
- node: 14

### Steps to reproduce

Create a slice starting with a number, e.g. `2Columns`

### What is expected?

UI should not let users create such slices.

### What is actually happening?

UI lets you do so.

[2022-09-22 11:18] angeloashmore commented on #467
Tested. No longer an issue with the latest version of Slice Machine (`^0.4.2`)

[2022-09-22 11:18] #467 closed, assigned to angeloashmore

[2022-09-22 11:41] phillysnow commented on #311
Hi Choem,

Sorry we never got back to you on this one, it has since been fixed in newer versions. Please try a fresh install if you are seeing the issue in your project.

Thanks.

[2022-09-22 11:44] #311 closed, assigned to lihbr

[2022-09-22 11:46] angeloashmore commented on #594
Form validation was incorrect. The new validation function checks for the following:

- A name is required.
- Only one of width or height is required. Both can be provided as well.

For the fix, see PR #601

[2022-09-22 11:48] chamois-d-or commented on #93
This has been fixed

[2022-09-22 11:48] phillysnow commented on #492
Hi @bosbode,

This is not really the use case for UID fields, they are a Unique ID for the document itself, used for the URL.

We recommend using the text as you suggested, although there are issues as you suggested.

https://github.com/prismicio-community/nextjs-starter-prismic-multi-language/blob/e14ae499cd3ad9fc566ff977a2641bad997a2b8e/slices/TextWithFeatures/index.js#L36-L39

[2022-09-22 11:49] #93 closed, assigned to hypervillain, lihbr

[2022-09-22 11:55] chamois-d-or commented on #341
Hey there,
Sorry for the lack of communication, this issue has been fixed since then.

[2022-09-22 11:55] #341 closed, assigned to lihbr

[2022-09-22 12:05] angeloashmore commented on #580
Issue is confirmed. On resolutions smaller than 960px, the fields get squished and the content is truncated.

## Proposed solution
- Group the input label and input into a single container.
- Stack the grouped label + input vertically on resolutions < 960px

<img width="428" alt="image" src="https://user-images.githubusercontent.com/8601064/191741978-0d957b84-5ad4-4cce-8d40-a19921c9fef3.png">

[2022-09-22 12:05] phillysnow commented on #541
Hi @frankstallone,

This is actually an issue in the documentation, I've sent an docs update to get published.

So to add another collection of Slices to your project:

1. Add a new folder in your project directory.
2. Open the sm.json file in your project, then add or modify the path to the new folder inside libraries. For example:

[2022-09-22 12:06] #541 closed, assigned to lihbr

[2022-09-22 12:09] phillysnow commented on #542
Hey @frankstallone,

Did you have the Slice Simulator set up correctly when seeing this issue?

[2022-09-22 12:18] angeloashmore commented on #459
Confirmed `@slicemachine/init` works on Node 14 and npm 6.

## Proposed solution

Update the minimum supported version of Node from 12 to 14. Node 12 is no longer maintained. Node 14 is under maintenance until 2023-04-30 ([see here](https://github.com/nodejs/release#release-schedule)).

See PR: #602

[2022-09-22 12:19] lihbr commented on #469
Hey there,

Looks like this issue is still lacking context. If any display error is still happening please let us know, in the meantime, I'll close this issue.

💐

[2022-09-22 12:19] #469 closed, assigned to lihbr

[2022-09-22 12:22] #148 closed, assigned to lihbr

[2022-09-22 12:30] lihbr commented on #216
It appears `node-fetch` is now being used by `sm-commons` (https://github.com/prismicio/slice-machine/blob/master/packages/sm-commons/methods/communication.js#L1) without being declared as a dependency of said package: https://github.com/prismicio/slice-machine/blob/master/packages/sm-commons/package.json#L27-L36

I don't know if this code is still in use, if yes, the issue remains.

[2022-09-22 12:31] lihbr commented on #61
Slice variations are now a thing (since quite some time!) 🎉

[2022-09-22 12:31] #61 closed, assigned to lihbr

[2022-09-22 12:33] lihbr commented on #10
Closing, Next.js is now fully supported, get started now: https://prismic.io/docs/technologies/nextjs

[2022-09-22 12:33] #10 closed, assigned to lihbr

[2022-09-22 12:35] lihbr commented on #39
Organization usage ramped up nicely since last year, less packages are being created outside of an org.

[2022-09-22 12:35] #39 closed, assigned to lihbr

[2022-09-22 12:37] #184 closed, assigned to hypervillain, lihbr

[2022-09-22 12:39] lihbr commented on #23
We're not updating the Nuxt config anymore, closing now 🎉

[2022-09-22 12:39] #23 closed, assigned to lihbr

[2022-09-22 12:41] lihbr commented on #91
Custom types can now be built within Slice Machine (since quite some time!) 🎉

[2022-09-22 12:41] #91 closed, assigned to nobody

[2022-09-22 12:49] phillysnow commented on #430
This has been fixed in the latest versions of slicemachine.

[2022-09-22 12:49] #430 closed, assigned to lihbr

[2022-09-22 12:53] lihbr commented on #72
Hey there, sorry for the delay

`next-slicezone` is not anymore the package of choice to manage your Slice Zone with Next.js.

The Slice Zone from `@prismicio/react` now is. It comes with comprehensive TypeScript types, solving this issue: https://prismic.io/docs/technical-reference/prismicio-react#slicezone

[2022-09-22 12:53] #72 closed, assigned to lihbr

[2022-09-22 13:04] lihbr commented on #75
This has been implemented some time back 🎉

[2022-09-22 13:04] #75 closed, assigned to lihbr

[2022-09-22 14:29] frankstallone commented on #541
@phillysnow thanks for your response. Did you mean to have an example after you last statement above, "For example:"?

[2022-09-22 14:35] frankstallone commented on #542
@phillysnow honestly it's been so long since I posted this — I do not remember. I am no entirely sure how this feature is supposed to work and having had time to try it. Going to close this. I'll open another ticket when I cross this bridge.

[2022-09-22 14:35] #542 closed, assigned to nobody

[2022-09-23 09:59] phillysnow commented on #541
Ahh my bad

[code]

[2022-10-04 13:24] pavery007 commented on #554
This bug fix is deployed to Production.

[2022-10-04 13:24] #554 closed, assigned to nobody

[2022-10-04 13:31] pavery007 commented on #558
This bug fix is deployed to Production.

[2022-10-04 13:31] #558 closed, assigned to nobody

[2022-10-04 16:19] #550 closed, assigned to Heyrows

[2022-10-05 08:16] chamois-d-or opened #621 "When generating mock data for repeatable zone of a slice, it only generates one item"
### Versions

- slice-machine-ui:  0.5.0
- node:

### Reproduction

Add fields in a repeatable zone of a slice and save to filesystem

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
Add fields in a repeatable zone of a slice and save to filesystem, and preview the slice or take a screenshot
### What is expected?
The mocks should contain more than 1 el

[2022-10-05 12:30] lihbr commented on #417
Hey there, I'm really sorry for the ridiculous delay it took for us to get back to you. Looks like this very valid issue fell under our radar...

Thank you so much for opening it! I just published a fix on our Vue kit (`3.1.1`), updating it should get things rolling as expected when not providing a type generic :)

[2022-10-05 12:30] #417 closed, assigned to nobody

[2022-10-06 13:49] ghost opened #625 "Pushing changes overwrites all changes made in different branches in v0.5.0"
In the latest version of Slice Machine, v0.5.0, we have the nice new feature to push all changes at once.

Unfortunately, we can now _only_ push everything that Slice Machine sees as a change.

This means when two developers are working on different feature branches, any changes to Custom Types or Slices that the first dev makes, will be overwritten when the second pushes their changes.

### Versi

[2022-10-12 12:50] Tuuvee opened #636 "Update @svrg/webpack dependency to remove nth-check security vulnerability"
### Is your feature request related to a problem? Please describe.
npm audit currently returns the following security vulnerability with slicemachine
[code]

### Describe the solution you'd like

Update the SVGR dependency on slicemachine-ui to v. 6.0 or above.
[Related issue on the SVGR repository.](https://github.com/gregberge/svgr/issues/606)

[2022-10-12 19:14] pavery007 opened #637 "Test bug for slack notification sending integration test"
TEST (PATRICK)

[2022-10-12 19:18] #637 closed, assigned to nobody

[2022-10-12 19:19] pavery007 opened #638 "NEW BUG TEST SLACK NOTIFICATION"
TEST ISSUE

[2022-10-14 07:30] kueckelheim opened #641 "Missing storynames in index.stories.svelte files"
### Versions

- slice-machine-ui: v0.5.0
- node: v16.15.0

### Reproduction

When installing slicemachine on a svelte project in combination with storybook, slicemachine does not include the name of the Slice/Slice-Version in the name property of the storybook-story.

<img width="1728" alt="Screenshot 2022-10-14 at 09 20 43" src="https://user-images.githubusercontent.com/46760457/195787893-675ae23

[2022-10-18 10:03] #638 closed, assigned to nobody

[2022-10-18 13:21] pavery007 commented on #594
Fix released to Production (SM version 0.5.1)

[2022-10-18 13:21] #594 closed, assigned to angeloashmore

[2022-10-19 16:20] mdeclercq opened #649 "Slice description is not updated when Slice is renamed"
### Versions

- slice-machine-ui: `0.5.1`
- node: `v16.17.1`

### Steps to reproduce

- Launch Slicemachine
- Create a new Slice named `Hero`
- Open the `slices/Hero/model.json` file, it contains `"description": "Hero"`
- Rename the slice to something else like `HeroRenamed`
- Open the `slices/HeroRenamed/model.json` file

### What is expected?
- The previous Slice name isn't used in the model fil

[2022-10-24 07:26] mdeclercq opened #655 "Cannot type whitespace character when updating Custom Type tab id"
### Versions

- slice-machine-ui: `0.5.1`
- node: `v16.17.1`

### Steps to reproduce

- Create a Custom Type
- Create a new tab named `New Tab`
- Click on the wrench icon to edit the tab id
- Type a sequence containing a whitespace character, for example `Other Tab`

### What is expected?
- The whitespace character is displayed in the input field showing `Other Tab`

### What is actually happening

[2022-10-27 14:47] comeprismic commented on #625
Hey @jarod-treble

Thanks for submitting an issue about this topic. We are currently working on the "Changes" page to solve the problem you are describing. We have already a few ideas and concepts ;)

Would you like to jump in a quick call with us next week to discuss it and tell us what you think?

You (and anyone interested in the topic) can [pick-up a slot](https://calendly.com/come-sabran/conc

[2022-10-28 20:58] #474 closed, assigned to nobody

[2022-11-04 12:35] mdeclercq opened #672 "Cannot reset Slice image field dimensions to "auto“"
### Versions
- slice-machine-ui: `0.5.2`
- node: `v16.17.1`

### Steps to reproduce
- Launch Slicemachine
- Create a new Slice named Hero
- Add a new Image field named Image in the Non-Repeatable Zone
- Open the Image settings and set the `height` and `width` to `500`
- Save the image settings. Save the slice.
- Open the Image settings and erase the height and width input values. The dimensions sw

[2022-11-17 16:35] mdeclercq opened #690 "Custom Type React code snippet for uid contains double curly braces"
### Versions

- slice-machine-ui: `0.5.2`
- node: `v16.17.1`

### Reproduction

### Steps to reproduce
- Install SliceMachine on a Next.js project
- Run Slice Machine
- Create a Custom Type
- Add a `UID` field named "uid"
- Click on "Show Code snippets"

### What is expected?
<img width="797" alt="image" src="https://user-images.githubusercontent.com/6433957/202503072-30d34edd-7214-42a9-b9f3-967fa

[2022-11-21 15:44] mdeclercq opened #695 "Cannot save slice after uploading screenshot to new variation"
### Versions

- slice-machine-ui: `0.5.2`, `0.5.3-dev-ct-slice-delete.8`
- node: `v16.17.1`

### Steps to reproduce
- Install SliceMachine on a Next.js project
- Run Slice Machine
- Create a new slice
- Add a new variation called "Wide"
- Notice the `Save` button is enabled
- Open the `Upload screenshot` modal
- Upload a screenshot for the variation `Wide`
- Close the screenshot modal

https://use

[2022-11-23 20:13] mdeclercq opened #703 "Path to Slices screenshots should be relative to project"
### Versions

slice-machine-ui: `0.5.2`
node: `v16.17.1`

### Reproduction

### Steps to reproduce
- Install SliceMachine
- Run Slice Machine
- Create a new slice
- Upload a default screenshot for the slice
- Open the file `.slicemachine/libraries-state.json`

### What is expected?
- The `screenshotPaths.default.path` attribute points to a path which is **relative** to the project.

### What is ac

[2022-11-28 15:26] mauricio-br182 opened #709 "Não consigo instalar o seguinte comando @slicemachine/init"
Process on port 127.0.0.1:5555 killed
You're about to configure Slicemachine... Press ctrl + C to cancel

Error! listen EADDRINUSE: address already in use 127.0.0.1:5555

[2022-11-29 15:14] mdeclercq commented on #709
Hi @mauricio-br182,

Could you please update the issue description following the [bug template](https://github.com/prismicio/slice-machine/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) ?
We need to know more about your environment and a scenario including the commands that you have executed.

Thanks,

[2022-11-30 12:47] pedrodahmer commented on #709
Fala @mauricio-br182 !! Eu estava com o mesmo problema! Entrando no endereço que o erro especifica (127.0.0.1:5555) descobri que era o Tabnine (extensão de auto-complete do VSCode) que estava ocupando essa porta do meu sistema. Acho que o melhor jeito de resolver o problema é nessa linha: 1 - Entrar no endereço especificado no erro; 2 - Descobrir o que está ocupando essa porta; 3 - Desligar moment